@charset "utf-8";
@import "../layout/layout";
@import "../module/m-code";
@import "../../../lib/element/g-select";

/**
 * select演示页面
 * Author: joy.du(飘零雾雨)
 * Time: 2014.4.1
 */

.m-case{
	padding: .3rem;
	> .hd{
		.title{
			display: inline-block;
			padding: .02rem .1rem;
			background: #333;
			color: #fff;
			font-size: .2rem;
		}
	}
}