@charset "UTF-8";
/**
 * Yo框架全局base定义
 * 本文件与variables不同地方在于，这里所定义的map可以使用在variables和任何地方
 * lib中map使用“_”开头，本文件中不使用"_"
 * base ⇌ extra
 */
/**
 * Yo框架全局base定义
 * 本文件与variables不同地方在于，这里所定义的map可以使用在variables和任何地方
 * 本文件中map使用"_"开头，extra中不使用"_"
 * base ⇌ extra
 */
/**
 * 合并base和extra中的同类base map
 * 用以解决业务方升级Yo时需比base和extra的一致性
 * 当extra为空时，base map将以base文件里的定义作为默认值
 * 当extra不为空时，base map使用extra文件里的定义
 */
/**
 * Yo框架全局Variables
 * Yo基础变量map，如果不想定义某属性，将其value设置为null；
 * Yo仅使用2种长度单位：px用于边框，rem用于除边框之外的所有地方
 * variables中map使用“_”开头，本文件中不使用"_"
 * variables ⇌ config
 */
/**
 * Yo框架全局Variables
 * Yo基础变量map，如果不想定义某属性，将其value设置为null
 * Yo仅使用2种长度单位：px用于边框，rem用于除边框之外的所有地方
 * 本文件中map使用"_"开头，config中不使用"_"
 * variables ⇌ config
 */
/**
 * 合并variables和config中的同类map
 * 用以解决业务方升级Yo时需比config和variables的一致性
 * 当config为空时，使用variables中的map作为默认值
 * 当config不为空时，使用config中的定义
 */
/**
 * Yo框架自定义全局函数
 * 扩充Sass默认函数库，用以增强语法
 */
/**
 * @module List扩展函数
 * @description 返回SassList中的第一项
 * @function first
 * @version 2.1.0
 * @param {String} $list 指定一个Sass List <2.1.0>
 */
/**
 * @module List扩展函数
 * @description 返回SassList中的最后一项
 * @function last
 * @version 2.1.0
 * @param {String} $list 指定一个Sass List <2.1.0>
 */
/**
 * @module List扩展函数
 * @description 返回SassList中的倒数第几项
 * @function nth-last
 * @version 2.1.0
 * @param {String} $list 指定一个Sass List <2.1.0>
 * @param {Integer} $index 指定需要返回的值在list中的倒数位置 <2.1.0>
 */
/**
 * @module List扩展函数
 * @description 移除SassList中的某个项目并返回新的List
 * @function remove
 * @version 2.1.0
 * @param {String} $list 指定一个Sass List <2.1.0>
 * @param {String} $value 指定需要被删除的值 <2.1.0>
 */
/**
 * @module List扩展函数
 * @description 截取SassList中的某个部分并返回新的List
 * @function slice
 * @version 2.1.0
 * @param {String} $list 指定一个Sass List <2.1.0>
 * @param {Integer} $start 指定需要截取的开始下标 <2.1.0>
 * @param {Integer} $end 指定需要截取的结束下标（不包括end），当该值缺省时默认为末尾下标 <2.1.0>
 */
/**
 * @module List扩展函数
 * @description 从SassList中添加/删除项目，然后返回新的List。
 * @function splice
 * @version 2.1.0
 * @param {String} $list 指定一个Sass List <2.1.0>
 * @param {Integer} $index 指定需要移除的开始下标 <2.1.0>
 * @param {Integer} $count 指定需要移除的数量，不可以为负值，0表示不移除 <2.1.0>
 * @param {String} $values 指定需要添加的新值（可以是多个），如果该值缺省，则表示只移除不添加新值 <2.1.0>
 */
/**
 * Yo框架全局基础方法
 * 包括响应式方案，CSS3兼容性方案，厂商前缀方案，iconfont方案，flex布局等全局方法
 */
/**
 * @module 功能
 * @description 给需要的属性加厂家前缀
 * @method _prefix
 * @version 1.0.0
 * @param {String} $property 指定属性 <1.0.0>
 * @param {String} $value 指定属性值 <1.0.0>
 * @skip
 */
/**
 * @module 功能
 * @description 定义字体图标
 * @method _yofont
 * @version 1.0.0
 * @skip
 */
/**
 * @module 功能
 * @description 四则运算(iOS6.0+,Android4.4+)
 * @method calc
 * @version 1.7.0
 * @param {String} $property 指定需要进行计算的CSS属性 <1.7.0>
 * @param {String} $value 与原生CSS语法一致，区别在于需要使用引号包裹表达式 <1.7.0>
 * @example <div class="calc">四则运算</div>
 * .calc { @include calc(width, "100% - 100px"); }
 */
/**
 * @module 功能
 * @description 定义响应式方案
 * @method responsive
 * @version 1.0.0
 * @param {String} $media 指定媒体查询条件，取值为`config`文件map `media-types`中的值 <1.0.0>
 */
/**
 * @module 功能
 * @description 清除浮动方案
 * @method clearfix
 * @version 1.0.0
 * @param {String} $type 指定清除浮动的方式，包括：pseudo-element | bfc，默认值：pseudo-element <1.8.5>
 */
/**
 * @module 功能
 * @description 清除行内级元素间间隙方案
 * @method killspace
 * @version 1.0.0
 * @param {Length} $font-size 指定子元素字号，默认值：.14rem <2.0.0>
 * @example
 * <div class="demo">
 *      <span class="item">1</span>
 *      <span class="item">2</span>
 *      <span class="item">3</span>
 * </div>
 * .demo {@include killspace;}
 */
/**
 * @module 功能
 * @description 元素在包含块中的对齐方式，默认为水平垂直对齐
 * @method align
 * @version 2.0.0
 * @param {String} $flexbox 指定包含块布局方式，可选值：flex | inline-flex，默认值：flex <2.0.0>
 * @param {String} $type 指定居中元素类型，可选值：image | text | other，默认值：text <2.0.0>
 * @param {Keywords} $justify-content 指定元素水平对齐方式，取值与`justify-content`属性一致，默认值：center <2.0.0>
 * @param {Keywords} $align-items 指定元素垂直对齐方式，取值与`align-items`属性一致，默认值：center <2.0.0>
 * @example
 * <div class="demo">
 *      <img class="item" alt="未知尺寸图片居中" />
 * </div>
 * .demo {@include align;}
 */
/**
 * @module 功能
 * @description 定义文档根节点是否允许滚动
 * @method root-scroll
 * @version 1.4.0
 * @param {Boolean} $is-scroll 指定是否有滚动，默认值：false <1.8.6>
 */
/**
 * @module 功能
 * @description 定义是否有滚动条
 * @method overflow
 * @version 1.0.0
 * @param {String} $overflow 取值与最新原生语法一致，默认值：auto <1.0.0>
 */
/**
 * @module 功能
 * @description 生成全屏方法
 * @method fullscreen
 * @version 1.7.0
 * @param {Integer} $z-index 指定层叠级别 <1.7.0>
 * @param {Keywords} $position 指定定位方式，取除`static | relative`之外的值，默认值：absolute <1.8.5>
 */
/**
 * @module 用户界面
 * @description 定义使用何种滤镜
 * @method filter
 * @version 1.7.0
 * @param {String} $filter 取值与`filter`属性一致 <1.7.0>
 */
/**
 * @module 用户界面
 * @description 定义UA默认外观
 * @method appearance
 * @version 1.0.0
 * @param {String} $appearance 取值与`appearance`属性一致，默认值：none <1.0.0>
 */
/**
 * @module 用户界面
 * @description 定义如何选中内容
 * @method user-select
 * @version 1.0.0
 * @param {String} $user-select 取值与`user-select`属性一致，默认值：none <1.0.0>
 */
/**
 * @module 用户界面
 * @description 定义盒模型
 * @method box-sizing
 * @version 1.0.0
 * @param {String} $box-sizing 指定盒模型类型，取值与`box-sizing`属性一致，默认值：border-box <1.0.0>
 */
/**
 * @module 背景与边框
 * @description 定义渐变色值
 * @method gradient
 * @version 1.0.0
 * @param {String} $type 指定渐变的4种类型：linear, repeating-linear, radial, repeating-radial <1.0.0>
 * @param {String} $dir 指定渐变方向，可选值：[left | right] || [top | bottom] | angle <2.0.0>
 * @param {String} $gradient 指定渐变取值，与w3c最新原生语法一致 <1.0.0>
 */
/**
 * @module 背景与边框
 * @description 定义背景图像缩放（AndroidBrowser2.3.*还需要厂商前缀）
 * @method background-size
 * @version 1.4.0
 * @param {Keywords | Length} $background-size 指定背景图缩放值，取值与`background-size`属性一致 <1.4.0>
 */
/**
 * @module 背景与边框
 * @description 定义背景裁减（AndroidBrowser2.3.*还需要厂商前缀）
 * @method background-clip
 * @version 1.6.0
 * @param {Keywords} $background-clip 指定背景图缩放值，取值与`background-clip`属性一致 <1.6.0>
 */
/**
 * @module 背景与边框
 * @description 定义背景显示区域（AndroidBrowser2.3.*还需要厂商前缀）
 * @method background-origin
 * @version 1.6.0
 * @param {Keywords} $background-origin 指定背景图`background-position`属性计算相对的参考点，取值与`background-origin`属性一致 <1.6.0>
 */
/**
 * @module 背景与边框
 * @description 定义圆角，用于修复某些安卓机型上“圆角+边框+背景”，背景溢出的情况
 * @method border-radius
 * @version 1.6.0
 * @param {Length} $border-radius 指定元素的圆角半径，取值与`border-radius`属性一致 <1.6.0>
 */
/**
 * @module 背景与边框
 * @description 为元素添加边框（包括1px边框）
 * @method border
 * @version 2.0.0
 * @param {String} $border-width 指定边框厚度（单位为px），默认值：1px，取值与`border-width`属性一致，不同方向代表边框位置 <2.0.0>
 * @param {String} $border-color 指定边框颜色 <2.0.0>
 * @param {String} $border-style 指定边框样式 <2.0.0>
 * @param {String} $radius 指定边框圆角半径，默认值：null <2.0.0>
 */
/**
 * @module Transform
 * @description 定义简单变换
 * @method transform
 * @version 1.0.0
 * @param {String} $transform 取值范围与`transform`属性一致 <1.0.0>
 */
/**
 * @module Transform
 * @description 定义变换原点
 * @method transform-origin
 * @version 1.0.0
 * @param {Length | Percentage | Keywords} $transform-origin 取值范围与`transform-origin`属性一致 <1.0.0>
 */
/**
 * @module Transform
 * @description 指定某元素的子元素是（看起来）位于三维空间内，还是在该元素所在的平面内被扁平化
 * @method transform-style
 * @version 2.0.0
 * @param {String} $transform-style 取值范围与`transform-style`属性一致 <2.0.0>
 */
/**
 * @module Transform
 * @description 指定观察者与「z=0」平面的距离，使具有三维位置变换的元素产生透视效果。「z>0」的三维元素比正常大，而「z<0」时则比正常小，大小程度由该属性的值决定。
 * @method perspective
 * @version 2.0.0
 * @param {none | Length} $perspective 取值范围与`perspective`属性一致 <2.0.0>
 */
/**
 * @module Transform
 * @description 指定透视点的位置
 * @method perspective-origin
 * @version 2.0.0
 * @param {Length | Percentage | Keywords} $perspective-origin 取值范围与`perspective-origin`属性一致 <2.0.0>
 */
/**
 * @module Transform
 * @description 指定元素背面面向用户时是否可见
 * @method backface-visibility
 * @version 2.0.0
 * @param {Keywords} $backface-visibility 取值范围与`backface-visibility`属性一致 <2.0.0>
 */
/**
 * @module Animation
 * @description 定义动画
 * @method animation
 * @version 1.0.0
 * @param {String} $animation 取值与原生语法一致 <1.0.0>
 */
/**
 * @module Transition
 * @description 定义补间
 * @method transition
 * @version 1.0.0
 * @param {String} $transition 取值与原生语法一致 <1.0.0>
 */
/**
 * @module Flexbox
 * @description 定义显示类型为伸缩盒
 * @method flexbox
 * @version 1.0.0
 * @param {String} $flexbox 默认值：flex，可选值：flex | inline-flex <1.0.0>
 */
/**
 * @module Flexbox
 * @description 定义伸缩盒子元素如何分配空间
 * @method flex
 * @version 1.0.0
 * @param {Number} $flex 取值与`flex`属性一致，默认值：1 <1.0.0>
 * @param {String} $direction 默认值: row，可选值：row | column <1.5.0>
 */
/**
 * @module Flexbox
 * @description 定义伸缩盒子元素的排版顺序
 * @method order
 * @version 1.0.0
 * @param {Integer} $order 取值与`order`属性一致，默认值：1 <1.0.0>
 */
/**
 * @module Flexbox
 * @description 定义弹性盒子元素流动方向及遇见边界时是否换行(iOS7.0+,Android4.4+)
 * @method flex-flow
 * @version 2.0.0
 * @param {String} $flex-flow 取值与`flex-flow`属性一致，默认值：row nowrap <2.0.0>
 */
/**
 * @module Flexbox
 * @description 定义伸缩盒子元素的流动方向
 * @method flex-direction
 * @version 1.0.0
 * @param {String} $flex-direction 取值与`flex-direction`属性一致，默认值：row <1.0.0>
 */
/**
 * @module Flexbox
 * @description 定义弹性盒子元素溢出后排版(iOS7.0+,Android4.4+)
 * @method flex-wrap
 * @version 1.0.0
 * @param {String} $flex-wrap 取值与`flex-wrap`属性一致，默认值：nowrap <1.0.0>
 */
/**
 * @module Flexbox
 * @description 定义弹性容器主轴对齐方式(其中`space-around`值需要iOS7.0+,Android4.4+)
 * @method justify-content
 * @version 1.0.0
 * @param {String} $justify-content 取值与`justify-content`属性一致，默认值：center <1.0.0>
 */
/**
 * @module Flexbox
 * @description 定义多行弹性容器侧轴对齐方式(iOS7.0+,Android4.4+)
 * @method align-content
 * @version 1.8.5
 * @param {String} $align-content 取值与`align-content`属性一致，默认值：center <1.8.5>
 */
/**
 * @module Flexbox
 * @description 定义单行弹性容器侧轴对齐方式
 * @method align-items
 * @version 1.0.0
 * @param {String} $align-items 取值与`align-items`属性一致，默认值：center <1.0.0>
 */
/**
 * @module Flexbox
 * @description 定义弹性容器中子元素自身的在侧轴对齐方式(iOS7.0+,Android4.4+)
 * @method align-self
 * @version 1.0.0
 * @param {String} $align-self 取值与`align-self`属性一致，默认值：center <1.0.0>
 */
/**
 * @module 形状
 * @description 生成矩形方法
 * @method rect
 * @version 1.0.0
 * @param {Length} $width 定义矩形的长度 <1.0.0>
 * @param {Length} $height 定义矩形的高度 <1.0.0>
 */
/**
 * @module 形状
 * @description 生成正方形方法
 * @method square
 * @version 1.0.0
 * @param {Length} $size 定义正方形的边长 <1.0.0>
 */
/**
 * @module 形状
 * @description 生成圆形方法
 * @method circle
 * @version 1.0.0
 * @param {Length} $size 定义圆的半径长度 <1.0.0>
 * @param {Length} $radius 定义圆的圆角半径长度 <1.0.0>
 */
/**
 * @module 文本
 * @description 链接处理方法
 * @method link
 * @version 1.0.0
 * @param {Color} $color 定义链接颜色 <1.0.0>
 */
/**
 * @module 文本
 * @description 文本碰到边界是否换行
 * @method wrap
 * @version 1.0.0
 * @param {Boolean} $is-wrap 定义文本是否换行，默认值：true <2.0.0>
 */
/**
 * @module 文本
 * @description 单行文本溢出时显示省略号
 * @method ellipsis
 * @version 1.0.0
 * @param {Length} $width 定义容器的宽度，默认值：null <2.0.0>
 * @param {Integer} $line-clamp 定义需要显示的行数，默认值：1（即使用单行溢出的处理方案），需要注意的是本参数只支持webkit内核 <2.1.2>
 */
/**
 * @module 文本
 * @description 文字隐藏方案
 * @method texthide
 * @version 1.0.0
 * @param {Length} $width 定义容器的宽度，默认值：null <2.0.0>
 */
/**
 * Yo框架全局Reset
 * Yo重置Mobile及高级浏览器上常见的差异
 */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

html {
  background-color: #ebebeb;
  color: #212121;
  font-size: 100px;
  -webkit-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  font-size: 0.14em;
  line-height: 1.5;
  font-family: Helvetica Neue, Helvetica, STHeiTi, sans-serif;
}

ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
  padding: 0;
}

input,
textarea,
button,
select,
pre,
xmp,
tt,
code,
kbd,
samp {
  line-height: inherit;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
small,
big,
input,
textarea,
button,
select {
  font-size: inherit;
}

address,
cite,
dfn,
em,
i,
optgroup,
var {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  text-align: left;
}

ul,
ol,
menu {
  list-style: none;
}

fieldset,
img {
  border: 0;
  vertical-align: middle;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "\0020";
}

textarea,
pre,
xmp {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

textarea {
  resize: vertical;
}

input,
textarea,
button,
select
a {
  outline: 0 none;
}

input,
textarea,
button,
select {
  color: inherit;
}

input:disabled,
textarea:disabled,
button:disabled,
select:disabled {
  opacity: 1;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

mark {
  background-color: transparent;
}

a,
ins,
s,
u,
del {
  text-decoration: none;
}

a,
img {
  -webkit-touch-callout: none;
}

a {
  color: #00afc7;
}

.g-clear::after,
.g-mod::after {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  content: "\0020";
}

@font-face {
  font-family: yofont;
  src: url(//ss.qunarzz.com/yo/font/1.0.3/yofont.woff) format("woff"), url(//ss.qunarzz.com/yo/font/1.0.3/yofont.ttf) format("truetype");
}

.yo-ico {
  font-family: yofont !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

/**
 * @module layout
 * @method yo-flex
 * @version 3.0.0
 * @description 构造弹性布局使用方法，可以是横向和纵向
 * @demo http://doyoe.github.io/Yo/demo/layout/yo-flex.html
 * @param {String} $name 定义扩展名称 <3.0.0>
 * @param {String} $direction 指定是水平或者垂直布局 <3.0.0>
 */
.yo-flex {
  height: 100%;
}

.yo-flex,
.yo-flex .flex-inherit {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.yo-flex > .flex,
.yo-flex .flex-inherit,
.yo-flex .flex-inherit > .flex {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  height: .1px;
  position: relative;
}

.yo-flex > .flex,
.yo-flex .flex-inherit > .flex {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.yo-flex > .flex > .yo-flex,
.yo-flex .flex-inherit > .flex > .yo-flex {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/**
 * @module fragment
 * @method yo-header
 * @version 3.0.0
 * @description 构造头的自定义使用方法
 * @demo http://doyoe.github.io/Yo/demo/fragment/yo-header.html
 * @param {String} $name 定义扩展名称 <3.0.0>
 * @param {Length} $height 高度 <3.0.0>
 * @param {Length} $item-width 两侧子项操作区宽度 <3.0.0>
 * @param {Length} $item-space 两侧子项离边界的间隙 <3.0.0>
 * @param {Length} $border-width 边框厚度 <3.0.0>
 * @param {Color} $border-color 边框色 <3.0.0>
 * @param {Color} $bgcolor 背景色 <3.0.0>
 * @param {Color} $color 文本色 <3.0.0>
 * @param {Length} $font-size 字号大小 <3.0.0>
 * @param {Color} $item-color 两侧子项操作区文本色 <3.0.0>
 * @param {Color} $item-ico-color 两侧子项操作区ico色 <3.0.0>
 * @param {Length} $item-font-size 两侧子项操作区字号大小 <3.0.0>
 * @param {Length} $item-ico-size 两侧子项操作区ico大小 <3.0.0>
 */
.yo-header {
  position: relative;
  height: 0.44rem;
  line-height: 0.44rem;
  position: relative;
  background-color: #1ba9ba;
  color: #fff;
  font-size: 0.18rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
}

.yo-header::after {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  overflow: hidden;
  content: "\0020";
  border-color: #1ba9ba;
  border-style: solid;
  border-width: 0 0 1px;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .yo-header::after {
    width: 100%;
    height: 100%;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .yo-header::after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .yo-header::after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.33333);
    transform: scale(0.33333);
  }
}

.yo-header > .title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0.6rem;
}

.yo-header > .regret,
.yo-header > .affirm {
  position: absolute;
  top: 0;
  width: 0.6rem;
  color: #fff;
  cursor: pointer;
}

.yo-header > .regret:active,
.yo-header > .affirm:active {
  opacity: .5;
}

.yo-header > .regret.yo-ico,
.yo-header > .regret > .yo-ico,
.yo-header > .affirm.yo-ico,
.yo-header > .affirm > .yo-ico {
  color: #7ff;
  font-size: 0.2rem;
}

.yo-header > .regret {
  left: 0;
  padding-left: 0.15rem;
  text-align: left;
}

.yo-header > .affirm {
  right: 0;
  padding-right: 0.15rem;
  text-align: right;
}

/**
 * @module fragment
 * @method yo-list
 * @version 3.0.0
 * @description 构造列表的自定义使用方法
 * @demo http://doyoe.github.io/Yo/demo/fragment/yo-list.html
 * @param {String} $name 定义扩展名称 <3.0.0>
 * @param {Length} $margin 外边距 <3.0.0>
 * @param {Length} $radius 圆角半径长度 <3.0.0>
 * @param {Length} $border-width 外边框厚度 <3.0.0>
 * @param {Color} $border-color 边框色 <3.0.0>
 * @param {Length} $item-padding 子项的内补白 <3.0.0>
 * @param {Length} $label-padding 列表组头内补白 <3.0.0>
 * @param {Color} $label-bgcolor 列表组头背景色 <3.0.0>
 * @param {Color} $active-bgcolor 子项点击反馈背景色 <3.0.0>
 * @param {Color} $on-bgcolor 子项选中背景色 <3.0.0>
 * @param {Color} $on-color 子项选中文本色 <3.0.0>
 * @param {Color} $item-border-color 子项边框色 <3.0.0>
 * @param {Color} $label-border-color 列表组头边框色 <3.0.0>
 * @param {Length} $item-font-size 子项字号 <3.0.0>
 * @param {Length} $label-font-size 列表组头字号 <3.0.0>
 * @param {Length} $item-border-space 子项边线左侧偏移量 <3.0.0>
 * @param {Length} $more-font-size 更多区域字号 <3.0.0>
 * @param {Color} $more-color 更多区域文本色 <3.0.0>
 */
.yo-list {
  position: relative;
}

.yo-list::after {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  overflow: hidden;
  content: "\0020";
  border-color: #ccc;
  border-style: solid;
  border-width: 0 0 1px;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .yo-list::after {
    width: 100%;
    height: 100%;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .yo-list::after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .yo-list::after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.33333);
    transform: scale(0.33333);
  }
}

.yo-list > .label,
.yo-list > .item,
.yo-list .front {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.yo-list > .label > .flex,
.yo-list > .item > .flex,
.yo-list .front > .flex {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: .1px;
  margin: 0 .1rem;
}

.yo-list > .label > .flex:first-child,
.yo-list > .item > .flex:first-child,
.yo-list .front > .flex:first-child {
  margin-left: 0;
}

.yo-list > .label > .flex:last-child,
.yo-list > .item > .flex:last-child,
.yo-list .front > .flex:last-child {
  margin-right: 0;
}

.yo-list > .label > .yo-ico,
.yo-list > .item > .yo-ico,
.yo-list .front > .yo-ico {
  display: block;
}

.yo-list > .label > .yo-ico:last-child,
.yo-list > .item > .yo-ico:last-child,
.yo-list .front > .yo-ico:last-child {
  color: #aaa;
  font-size: 0.12rem;
}

.yo-list > .label.tr,
.yo-list > .item.tr,
.yo-list .front.tr {
  padding: 0;
}

.yo-list > .label {
  padding: 0.03rem 0.1rem;
  position: relative;
  background-color: #eee;
  color: #666;
  font-size: 0.13rem;
  font-weight: normal;
}

.yo-list > .label::after {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  overflow: hidden;
  content: "\0020";
  border-color: #eee;
  border-style: solid;
  border-width: 1px 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .yo-list > .label::after {
    width: 100%;
    height: 100%;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .yo-list > .label::after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .yo-list > .label::after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.33333);
    transform: scale(0.33333);
  }
}

.yo-list > .label:first-child::after {
  border-width: 0 0 1px;
}

.yo-list > .label + .item::after {
  border-width: 0;
}

.yo-list > .label > .col {
  padding: 0.03rem 0.1rem;
}

.yo-list > .item,
.yo-list .front {
  padding: 0.11rem 0.1rem 0.12rem;
}

.yo-list > .item {
  overflow: hidden;
  background-color: #fff;
  color: #212121;
  position: relative;
}

.yo-list > .item::after {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  overflow: hidden;
  content: "\0020";
  border-color: #ddd;
  border-style: solid;
  border-width: 1px 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .yo-list > .item::after {
    width: 100%;
    height: 100%;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .yo-list > .item::after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .yo-list > .item::after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.33333);
    transform: scale(0.33333);
  }
}

.yo-list > .item::after {
  left: 0.1rem;
}

.yo-list > .item:first-child::after {
  border-width: 0;
}

.yo-list > .item-input > .input {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  width: 100%;
  border: 0;
}

.yo-list > .item-input > .input::-webkit-input-placeholder {
  color: #bbb;
}

.yo-list > .item-stacked {
  display: block;
}

.yo-list > .item-stacked > .mark {
  padding-bottom: .05rem;
}

.yo-list > .item.item-active:active,
.yo-list > .item.item-active:active .front, .yo-list > .item.item-light,
.yo-list > .item.item-light .front {
  background-color: #f8f8f8;
}

.yo-list > .item > .col {
  padding: 0.11rem 0.1rem 0.12rem;
}

.yo-list-infinite > .label,
.yo-list-infinite > .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.yo-list-infinite > .item:last-child::after {
  border-width: 1px 0;
}

/**
 * yo-list扩展
 */
.yo-list-inset {
  margin: 0.2rem 0.1rem 0 0.1rem;
  border-radius: 0.2rem;
  overflow: hidden;
}

.yo-list-inset::after {
  border-width: 1px;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .yo-list-inset::after {
    border-radius: 0.2rem;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .yo-list-inset::after {
    border-radius: 0.4rem;
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .yo-list-inset::after {
    border-radius: 0.6rem;
  }
}

.yo-list-group > .label {
  padding: 0.2rem 0.1rem 0.05rem;
}

.yo-list-group > .label > .col {
  padding: 0.2rem 0.1rem 0.05rem;
}

.yo-list-group > .label::after {
  border-color: #ccc;
}

.yo-list-table > .label {
  background-color: #f9f9f9;
}

.yo-list-table > .label::after {
  border-color: #aaa;
}

/**
 * @module fragment
 * @method yo-number
 * @version 3.0.0
 * @description 构造列表的自定义使用方法
 * @demp http://doyoe.github.io/Yo/demo/fragment/yo-number.html
 * @param {String} $name 定义扩展名称 <3.0.0>
 * @param {Length} $width 宽度 <3.0.0>
 * @param {Length} $height 高度 <3.0.0>
 * @param {Length} $radius 外边框圆角半径 <3.0.0>
 * @param {Length} $border-width 外边框厚度 <3.0.0>
 * @param {Color} $border-color 外边框色 <3.0.0>
 * @param {Color} $color 输入框文本色 <3.0.0>
 * @param {Length} $sign-radius 加减号区域边框圆角半径 <3.0.0>
 * @param {Length} $sign-border-width 加减号区域边框厚度 <3.0.0>
 * @param {Color} $sign-bgcolor 加减号区域背景色 <3.0.0>
 * @param {Color} $sign-color 加减号区域文本色 <3.0.0>
 * @param {Length} $font-size 输入框字号 <3.0.0>
 */
.yo-number {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: inline-flex;
  overflow: hidden;
  width: 1.2rem;
  height: 0.36rem;
  line-height: 0.36rem;
  -webkit-transform: translate(0);
  transform: translate(0);
  position: relative;
  border-radius: 0.03rem;
  background-color: #fff;
  text-align: center;
}

.yo-number::after {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  overflow: hidden;
  content: "\0020";
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .yo-number::after {
    width: 100%;
    height: 100%;
    border-radius: 0.03rem;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .yo-number::after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    border-radius: 0.06rem;
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .yo-number::after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.33333);
    transform: scale(0.33333);
    border-radius: 0.09rem;
  }
}

.yo-number > .minus,
.yo-number > .plus {
  display: block;
  width: 0.36rem;
  height: 0.36rem;
  position: relative;
  background-color: #fafafa;
  color: #999;
  font-size: 0.31rem;
  font-family: arial;
  cursor: pointer;
}

.yo-number > .minus::after,
.yo-number > .plus::after {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  overflow: hidden;
  content: "\0020";
  border-color: #ccc;
  border-style: solid;
  border-width: 1px;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .yo-number > .minus::after,
  .yo-number > .plus::after {
    width: 100%;
    height: 100%;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .yo-number > .minus::after,
  .yo-number > .plus::after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .yo-number > .minus::after,
  .yo-number > .plus::after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.33333);
    transform: scale(0.33333);
  }
}

.yo-number > .minus.disabled,
.yo-number > .plus.disabled {
  cursor: not-allowed;
  background-color: white;
  color: #e6e6e6;
}

.yo-number > .minus.disabled::after,
.yo-number > .plus.disabled::after {
  border-color: #ebebeb;
}

.yo-number > .input {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: .1px;
  border: 0 none;
  color: #212121;
  font-size: 0.16rem;
  text-align: inherit;
}

.yo-number > .input, .yo-number > .input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

/**
 * yo-number扩展
 */
.yo-number-test {
  width: 1rem;
  height: 0.25rem;
  line-height: 0.25rem;
}

.yo-number-test::after {
  border-width: 0;
  border-color: #1ba9ba;
}

.yo-number-test > .minus,
.yo-number-test > .plus {
  width: 0.25rem;
  height: 0.25rem;
  font-size: 0.2rem;
  border-radius: 50%;
  background-color: #1ba9ba;
  color: #eee;
}

.yo-number-test > .minus::after,
.yo-number-test > .plus::after {
  border-color: #1ba9ba;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .yo-number-test > .minus::after,
  .yo-number-test > .plus::after {
    border-radius: 50%;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .yo-number-test > .minus::after,
  .yo-number-test > .plus::after {
    border-radius: 100%;
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .yo-number-test > .minus::after,
  .yo-number-test > .plus::after {
    border-radius: 150%;
  }
}

.yo-number-test > .minus.disabled,
.yo-number-test > .plus.disabled {
  background-color: #3ed1e3;
  color: white;
}

.yo-number-test > .minus.disabled::after,
.yo-number-test > .plus.disabled::after {
  border-color: #31cee1;
}

.yo-number-test > .input {
  font-size: 0.14rem;
}

.m-demo {
  position: relative;
  min-height: .88rem;
}

.m-demo > .title {
  padding: .18rem .1rem .03rem;
  font-weight: normal;
  position: relative;
}

.m-demo > .title::after {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  overflow: hidden;
  content: "\0020";
  border-color: #ccc;
  border-style: solid;
  border-width: 0 0 1px;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .m-demo > .title::after {
    width: 100%;
    height: 100%;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .m-demo > .title::after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .m-demo > .title::after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.33333);
    transform: scale(0.33333);
  }
}

.m-demo .item .yo-btn:not(:last-child) {
  margin-right: .1rem;
}

.m-demo .mark img {
  width: 0.5rem;
  height: 0.5rem;
}

.m-demo > .yo-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.m-demo > .yo-card .cols img {
  width: 0.6rem;
  height: 0.6rem;
}

/**
 * module: m-desc
 * Author: joy.du(飘零雾雨)
 * Time: 2015.6.17
 */
.m-desc {
  margin: .3rem .1rem;
  padding-bottom: .05rem;
  border-radius: .05rem;
  background-color: #ddd;
}

.m-desc > .title,
.m-desc > .sub-title {
  max-height: 100%;
}

.m-desc > .title {
  padding: .18rem .1rem .03rem;
  border-bottom: 1px solid #ccc;
}

.m-desc > xmp {
  margin: .1rem;
  padding: .1rem;
  background-color: #666;
  color: #fff;
  -webkit-user-select: text;
  user-select: text;
}

.m-desc .sub-title {
  margin: 0 .1rem;
  padding: .1rem 0 .03rem;
  border-bottom: 1px solid #ccc;
}

.m-desc .sub-title::before {
  margin-right: .05rem;
  padding: 0 .03rem;
  border-radius: .03rem;
  content: "Note";
  font-weight: normal;
  background-color: #f9c027;
  color: #fff;
}

.m-desc .info {
  margin: .1rem;
}
