@charset "utf-8";
@import "../core/reset";
@import "../layout/yo-flex";
@import "../fragment/yo-header";
@import "../fragment/yo-list";
@import "../element/yo-badge";

@import "../module/m-list";

.m-copyright {
    overflow: hidden;
    width: 1.8rem;
    margin: auto;
    padding: .1rem 0 .2rem;
    color: #bbb;
    line-height: 1.231;
    text-shadow: 0 1px 0 #fff;
    @include transform(scale(.8));
    > .sub-logo {
        float: left;
        padding-right: .06rem;
        font-size: .3rem;
        sup {
            font-size: .12rem;
            font-weight: normal;
            vertical-align: .15rem;
        }
    }
    > .info {
        padding-top: .04rem;
    }
    > .note {
        font-size: .12rem;
    }
}