@charset "utf-8";
@import "../core/reset";
@import "../layout/yo-flex";
@import "../fragment/yo-header";
@import "../fragment/yo-list";
@import "../element/yo-badge";

@include yo-list(
    $name: accordion,
    $margin: .1rem,
    $radius: .03rem,
    $label-bgcolor: #fff,
    $label-border-color: #fff,
    $label-font-size: .14rem
) {
    > .label {
        overflow: hidden;
        height: .56rem;
        color: #333;
        line-height: .5rem;
        .flex {
            @include align-self(flex-start);
            @include transition(all .3s);
        }
        span,
        dfn {
            display: block;
        }
    }
    &[open] > .label {
        color: #999;
        .flex {
            width: 100%;
            @include transform(translatey(-.5rem));
        }
    }
}

.m-header {
    padding: .2rem 0 .1rem;
    text-align: center;
    > .logo {
        font-size: .30rem;
    }
    p {
        color: #666;
    }
}

.m-copyright {
    @include align;
    padding: 10px 0 20px;
    color: #bbb;
    line-height: 1.231;
    text-shadow: 0 1px 0 #fff;
    > .sub-logo {
        padding-right: 5px;
        font-size: 24px;
    }
    > .desc {
        .note {
            font-size: 12px;
        }
    }
    > .desc {
        @include transform(scale(.8));
        @include transform-origin(0 50%);
    }
}