@charset "utf-8";
@import "../layout/layout";

// Android4.3及以下
.img {
    display: inline-block;
    overflow: hidden;
    @include border-radius(20px);
    border: 10px solid blue;
    background-color: blue;
}
.img > img {
    // border-radius: 50%;
}


$list: 1, 2, 3, 4;

@debug remove-nth($list, 1);