@charset "utf-8";
@import "../layout/layout";
@import "../fragment/yo-list";

/**
 * test演示页面
 * Author: joy.du(飘零雾雨)
 * Time: 2014.4.1
 */
.demo {
    @include flexbox;
    .a {
        -webkit-box-flex: 1 1 1px;
        -webkit-flex: 1 1 1px;
        flex: 1 1 1px;
        background: #eee;

    }
    .b {
        -webkit-box-flex: 2 1 1px;
        -webkit-flex: 2 1 1px;
        flex: 2 1 1px;
        background: #aaa;

    }
    .c {
        -webkit-box-flex: 3 1 1px;
        -webkit-flex: 3 1 1px;
        flex: 3 1 1px;
        background: #999;

    }
}