@charset "utf-8";
@import "../layout/layout";

.yo-nav {
    // 构造一个横纵向参数，用来配置nav的流向
    @include flexbox;
    height: 100px;
    > .item {
        @include flex;
        margin: .1rem;
        background-color: gray;
    }
    > .item:nth-child(3) {
        @include order(1);
    }
    > div {
        color: red;
        &::after {
            content: "\0020";
        }
    }
}
// OPPO,VIVO等手机上图片圆角问题
.test {
    display: inline-block;
    overflow: hidden;
    @include border-radius(50%);
    border: 10px solid red;
    background-color: blue;
}
.img {
    @include border-radius(50%);
}