@charset "utf-8";
@import "../core/reset";
@import "../../lib/layout/yo-flex";
@import "../../lib/layout/yo-align";
@import "../../lib/fragment/yo-header";
@import "../../lib/fragment/yo-tab";
@import "../../lib/element/yo-btn";

.m-nodata {
    text-align: center;
    > .info {
        margin-bottom: .1rem;
        color: map-get($base, sub-color);
    }
}