@charset "utf-8";
@import "../core/reset";
@import "../layout/yo-flex";
@import "../../lib/fragment/yo-header";
@import "../widget/yo-doublelist";

// 页面所需模块
@import "../module/m-header";
@import "../module/m-demo";
@import "../module/m-desc";

.yo-doublelist {
    position: static;
    > .item:nth-child(1) {
        background-color: #ccc;
    }
    > .item:not(:nth-child(1)) {
        background-color: #eee;
    }
}