@charset "utf-8";
@import "../core/reset";
@import "../layout/yo-flex";
@import "../../lib/fragment/yo-header";
@import "../../lib/widget/yo-datepicker";

// 页面所需模块
@import "../module/m-header";
@import "../module/m-demo";

.m-code {
    position: relative;
    margin-top: 4rem;
}