@charset "utf-8";
@import "../core/reset";
@import "../layout/yo-flex";
@import "../fragment/yo-header";
@import "../fragment/yo-list";

@import "../module/m-note";

@include yo-list(
    $name: inset,
    $margin: .2rem .1rem 0 .1rem,
    $border-width: 1px,
    $radius: .1rem
);

.m-list {
    > .title {
        padding: .2rem .1rem .05rem;
        color: #666;
        font-size: .13rem;
        font-weight: normal;
        @include border(
            $border-width: 0 0 1px
        );
    }
}
