@charset "utf-8";
@import "../core/reset";
@import "../../lib/layout/yo-root";
@import "../../lib/layout/yo-flex";
@import "../../lib/fragment/yo-header";

.m-demo {
    padding-top: .5rem;
    text-align: center;
}
.m-demo > h3 {
    padding-bottom: .1rem;
    font-size: .28rem;
}
