@charset "utf-8";
@import "../core/reset";
@import "../layout/yo-flex";
@import "../../lib/layout/yo-root";
@import "../../lib/fragment/yo-header";

// 页面所需模块
.m-demo {
    padding-top: .5rem;
    text-align: center;
    > h3 {
        padding-bottom: .1rem;
        font-size: .28rem;
    }
}