@charset "utf-8";
@import "../core/reset";
@import "../layout/yo-flex";
@import "../fragment/yo-header";
@import "../fragment/yo-list";
@import "../fragment/yo-swipemenu";

@import "../module/m-list";
@import "../module/m-note";

@include yo-swipemenu(
    $padding: .11rem .1rem .12rem
) {
    img {
        width: 1rem;
        height: .5rem;
    }
}