@charset "utf-8";
@import "../../lib/widget/yo-number";

/**
 * Element扩展
 * Author: joy.du(飘零雾雨)
 * Time: 2015.1.16
 */

@include yo-number(
    $name: test,
    $height: .25rem,
    $outer-border-width: 0,
    $outer-radius: 0,
    $inner-radius: 50%,
    $border-color: #1ba9ba,
    $sign-bgcolor: #1ba9ba,
    $sign-color: #eee
);