@charset "utf-8";
@import "../../../lib/element/yo-badge";

/**
 * Element扩展: yo-badge
 * Author: joy.du(飘零雾雨)
 * Time: 2015.1.16
 */

// 预设常规气泡(位置参数示例)
@include yo-badge(normal, gray);

// 预设标签气泡(关键字参数示例)
@include yo-badge(
    $name: tag,
    $bgcolor: #aaa,
    $radius: .05rem,
    $font-size: .12rem
);