@charset "utf-8";
@import "../../../lib/element/yo-checked";

/**
 * Element扩展: yo-checked-test
 * Author: joy.du(飘零雾雨)
 * Time: 2015.1.16
 */

@include yo-checked(
    $name: a,
    $bordercolor: #2b94ff
);

@include yo-checked(
    $name: b,
    $bordercolor: #1ba9ba,
    $on-bgcolor: #1ba9ba,
    $on-color: white
);

@include yo-checked(
    $name: c,
    $bordercolor: #1ba9ba,
    $on-bgcolor: #1ba9ba,
    $on-color: white,
    $radius: 50%
);

@include yo-checked(
    $name: d,
    $type: tick
);

@include yo-checked(
    $name: e,
    $type: tick,
    $bordercolor: #2b94ff
);

@include yo-checked(
    $name: f,
    $type: tick,
    $bordercolor: #1ba9ba,
    $on-bgcolor: #1ba9ba,
    $on-color: white
);

@include yo-checked(
    $name: g,
    $type: tick,
    $bordercolor: #1ba9ba,
    $on-bgcolor: #1ba9ba,
    $on-color: white,
    $radius: 50%
);