# sass cache
.sass-cache
*.DS_Store
.idea

# gulp配置文件
node_modules

# uedoc
uedoc/
gulp/uedocConfig.js

# doc template
gulp/qdoc_template

# kami相关
usage/kami

# test
demo/test.html
usage/page/test.scss
usage/export/test.css
