# sass cache
.sass-cache
*.DS_Store
.idea

# common
node_modules
npm-debug.log

# doc
docs
ydoc.config
_docs

# Sass compile
gulp
gulpfile.js
bower.json

# SourceCode dev
component_dev
test
ykit.hy.js
ykit.hy2.js
README-DEV.md
yo.png
shortcut.png
startup.png
.gitignore
.eslintignore
.eslintrc.json
.ykit_cache
.npmignore