# sass cache
.sass-cache
*.DS_Store
.idea

# common
node_modules
npm-debug.log
ykit.hosts

# doc
doc
docs
ydoc.config

# Sass compile
gulp
gulpfile.js
bower.json

# SourceCode dev
component_dev
test
ykit.js
yo.png
shortcut.png
.eslintignore
.eslintrc.json
.gitignore
.npmignore
.ykit_cache
as-before-use.md
case.md
ver/
prd

# static demo
demo
style/export
style/page