@charset "utf-8";
@import "../core/reset";
@import "../../../lib/layout/layout";
@import "../../../lib/layout/yo-panel";

/**
* document layout
* Author: joy.du(飘零雾雨)
* Time: 2013.10.17
*/

@include doc;