@charset "utf-8";
/**
 * module: m-head
 * Author: joy.du(飘零雾雨)
 * Time: 2013.10.17
 */
.m-head{
	.logo{
		float: left;
		color: #fff;
		font-size: .35rem;
		line-height: 1.4;
	}
	nav{
		float: right;
	}
}

