*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

html {
  background-color: #fafafa;
  color: #212121;
  font-size: 100px;
  -webkit-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: Helvetica Neue, Helvetica, STHeiTi, sans-serif;
}

ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
  padding: 0;
}

input,
textarea,
button,
select,
pre,
xmp,
tt,
code,
kbd,
samp {
  line-height: inherit;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
small,
big,
input,
textarea,
button,
select {
  font-size: inherit;
}

address,
cite,
dfn,
em,
i,
optgroup,
var {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  text-align: left;
}

ul,
ol,
menu {
  list-style: none;
}

fieldset,
img {
  border: 0;
  vertical-align: middle;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "\0020";
}

textarea,
pre,
xmp {
  overflow: auto;
}

textarea {
  resize: vertical;
}

input,
textarea,
button,
select
a {
  outline: 0 none;
}

input,
textarea,
button,
select {
  color: inherit;
}

input:disabled,
textarea:disabled,
button:disabled,
select:disabled {
  opacity: 1;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

mark {
  background-color: transparent;
}

a,
ins,
s,
u,
del {
  text-decoration: none;
}

a,
img {
  -webkit-touch-callout: none;
}

a {
  color: #00afc7;
}

.g-clear::after,
.g-mod::after {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  content: "\0020";
}

@font-face {
  font-family: yofont;
  src: url("http://source.qunarzz.com/fonts/yo/1.0.0/yofont.woff") format("woff"), url("http://source.qunarzz.com/fonts/yo/1.0.0/yofont.ttf") format("truetype");
}

.yo-ico {
  font-family: yofont !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.yo-stacked {
  display: block;
  margin: 0.2rem 0.1rem;
}

.yo-flex {
  height: 100%;
}

.yo-flex,
.yo-flex .flex-inherit {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}

.yo-flex > .flex,
.yo-flex .flex-inherit,
.yo-flex .flex-inherit > .flex {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  position: relative;
}

.yo-flex > .flex,
.yo-flex .flex-inherit > .flex {
  overflow: auto;
}

.yo-flex > .flex > .yo-flex,
.yo-flex .flex-inherit > .flex > .yo-flex {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.yo-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.yo-list {
  position: relative;
}

.yo-list::after {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  content: "\0020";
  border-color: #ccc;
  border-style: solid;
  border-width: 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .yo-list::after {
    width: 100%;
    height: 100%;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .yo-list::after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .yo-list::after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.33333);
    transform: scale(0.33333);
  }
}

.yo-list > .label,
.yo-list > .item,
.yo-list .front {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-transform: translatez(0);
  transform: translatez(0);
}

.yo-list > .label > .mark:not(:last-child),
.yo-list > .label > .yo-ico:not(:last-child),
.yo-list > .item > .mark:not(:last-child),
.yo-list > .item > .yo-ico:not(:last-child),
.yo-list .front > .mark:not(:last-child),
.yo-list .front > .yo-ico:not(:last-child) {
  margin-right: .1rem;
}

.yo-list > .label > .flex,
.yo-list > .item > .flex,
.yo-list .front > .flex {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: .1px;
}

.yo-list > .label > .yo-ico,
.yo-list > .item > .yo-ico,
.yo-list .front > .yo-ico {
  display: block;
}

.yo-list > .label.tr,
.yo-list > .item.tr,
.yo-list .front.tr {
  padding: 0;
}

.yo-list > .label {
  padding: 0.03rem 0.1rem;
  position: relative;
  background-color: #fafafa;
  color: #666;
  font-size: 0.13rem;
  font-weight: normal;
}

.yo-list > .label::after {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  content: "\0020";
  border-color: #eee;
  border-style: solid;
  border-width: 0 0 1px;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .yo-list > .label::after {
    width: 100%;
    height: 100%;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .yo-list > .label::after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .yo-list > .label::after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.33333);
    transform: scale(0.33333);
  }
}

.yo-list > .label:not(:first-child) {
  margin-top: -1px;
}

.yo-list > .label:not(:first-child)::after {
  border-width: 1px 0;
}

.yo-list > .label > .col {
  padding: 0.03rem 0.1rem;
}

.yo-list > .item,
.yo-list .front {
  padding: 0.11rem 0.1rem 0.12rem;
}

.yo-list > .item {
  overflow: hidden;
  background-color: #fff;
  color: #212121;
  font-size: 0.14rem;
  position: relative;
}

.yo-list > .item::after {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  content: "\0020";
  border-color: #ddd;
  border-style: solid;
  border-width: 0 0 1px;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .yo-list > .item::after {
    width: 100%;
    height: 100%;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .yo-list > .item::after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .yo-list > .item::after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.33333);
    transform: scale(0.33333);
  }
}

.yo-list > .item:not(:last-child)::after {
  left: 0.1rem;
}

.yo-list > .item:last-child {
  margin-bottom: -1px;
}

.yo-list > .item:last-child::after {
  border-color: #ccc;
}

.yo-list > .item-stacked {
  display: block;
}

.yo-list > .item-stacked > .mark {
  padding-bottom: .05rem;
}

.yo-list > .item-input > .yo-input {
  display: block;
  height: auto;
  padding: 0;
  border: 0;
}

.yo-list > .item.item-active:active,
.yo-list > .item.item-active:active .front,
.yo-list > .item.item-light,
.yo-list > .item.item-light .front {
  background-color: #f8f8f8;
}

.yo-list > .item > .col {
  padding: 0.11rem 0.1rem 0.12rem;
}

.yo-list-inset {
  margin: 0.2rem 0.1rem 0 0.1rem;
  border-radius: 0.02rem;
  overflow: hidden;
}

.yo-list-inset::after {
  border-width: 1px;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .yo-list-inset::after {
    border-radius: 0.02rem;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .yo-list-inset::after {
    border-radius: 0.04rem;
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .yo-list-inset::after {
    border-radius: 0.06rem;
  }
}

.yo-list-group > .label {
  padding: 0.18rem 0.1rem 0.03rem;
}

.yo-list-group > .label > .col {
  padding: 0.18rem 0.1rem 0.03rem;
}

.yo-tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  overflow: hidden;
  height: 0.44rem;
  position: relative;
  background-color: #fafafa;
  font-size: 0.14rem;
  text-align: center;
  line-height: 0.44rem;
}

.yo-tab::after {
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  content: "\0020";
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0 0;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .yo-tab::after {
    width: 100%;
    height: 100%;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .yo-tab::after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .yo-tab::after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.33333);
    transform: scale(0.33333);
  }
}

.yo-tab > .item {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: .1px;
  position: relative;
  color: #666;
}

.yo-tab > .item:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: 0;
  border-right: 1px solid transparent;
  height: 100%;
  content: "\0020";
  -webkit-transform: translatey(-50%);
  transform: translatey(-50%);
}

.yo-tab > .item.item-on {
  color: #00bec8;
}

.yo-tab > .item-y-ico {
  padding-top: .04rem;
  line-height: .2rem;
}

.yo-tab > .item-y-ico .yo-ico {
  display: block;
  font-size: 0.2rem;
}

.yo-tab > .item-x-ico .yo-ico {
  font-size: 0.12rem;
}

.yo-tab > .item-only-ico .yo-ico {
  font-size: 0.28rem;
}

.yo-tab-test {
  width: 2rem;
  border-radius: 0.05rem;
  font-size: 0.12rem;
  margin: auto;
}

.yo-tab-test::after {
  border-width: 1px;
  border-color: #1ba9ba;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .yo-tab-test::after {
    border-radius: 0.05rem;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .yo-tab-test::after {
    border-radius: 0.1rem;
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .yo-tab-test::after {
    border-radius: 0.15rem;
  }
}

.yo-tab-test > .item.item-on {
  background-color: #1ba9ba;
  color: #fff;
}

.yo-tab-filter {
  height: 0.4rem;
  line-height: 0.4rem;
}

.yo-tab-filter::after {
  border-width: 0 0 1px 0;
}

.yo-tab-filter > .item:not(:last-child)::after {
  height: 0.2rem;
  border-color: #ddd;
}

.yo-tab-view {
  font-size: 0.12rem;
}

.img {
  display: inline-block;
  overflow: hidden;
  border-radius: 20px;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  border: 10px solid blue;
  background-color: blue;
}
