@charset "UTF-8";
/**
 * Yo框架demo
 * Author: joy.du(飘零雾雨)
 * Time: 2015.2.11
 */
/**
 * Yo框架全局Variables
 -----------------------
 * Yo基础变量map，如果不想定义某属性，将其value设置为null；
 * Yo仅使用2种长度单位：px用于边框，rem用于除边框之外的所有地方
 *
 * @class variables
 * @module Yo
 */
/**
 * Yo框架全局基础方法
 -----------------------
 * Yo内置了包括响应式方案，CSS3兼容性方案，厂商前缀方案，iconfont方案，flex布局等全局方法
 *
 * @class classes
 * @module Yo
 */
/**
 * 给需要的属性加厂家前缀
 * @method prefix
 * @param {String} $property 指定属性
 * @param {String} $value 指定属性值
 */
/**
 * 四则运算
 * @method calc
 * @param {String} $property 指定需要进行计算的CSS属性
 * @param {String} $value 与原生CSS语法一致，使用方式如：@include calc(width, 100% - 0.1rem);
 */
/**
 * 定义渐变色值
 * @method gradient
 * @param {String} $type 指定渐变的4种类型：linear, repeating-linear, radial, repeating-radial
 * @param {String} $gradient 指定渐变取值，与原生语法一致
 */
/**
 * 定义响应式方案
 * @method responsive
 * @param {String} $media 指定媒体查询条件
 */
/**
 * 定义字体图标
 * @method yofont
 */
/**
 * 滤镜
 * @method filter
 * @param {String} $filter 取值与原生语法一致
 */
/**
 * 定义UA默认外观
 * @method appearance
 * @param {String} $appearance 指定UA外观类型
 */
/**
 * 定义是否可以选中元素
 * @method user-select
 * @param {String} $user-select 指定是否可以选中
 */
/**
 * 定义背景图像缩放（Android Browser2.3.*还需要厂商前缀）
 * @method background-size
 * @param {String | Length} $background-size 指定背景图缩放值
 */
/**
 * 定义背景裁减（Android Browser2.3.*还需要厂商前缀）
 * @method background-clip
 * @param {String} $background-clip 指定背景图缩放值
 */
/**
 * 定义背景显示区域（Android Browser2.3.*还需要厂商前缀）
 * @method background-origin
 * @param {String} $background-origin 指定背景图缩放值
 */
/**
 * 定义盒模型
 * @method box-sizing
 * @param {String} $box-sizing 的2个值分别为：content-box(标准盒模型) | border-box(怪异盒模型)
 */
/**
 * 定义圆角
 * @method border-radius
 * @param {String} $border-radius 取值与原生语法一致
 */
/**
 * 定义简单变换
 * @method transform
 * @param {String} $transform 取值与原生语法一致
 */
/**
 * 定义变换原点
 * @method transform-origin
 * @param {String} $transform-origin 取值与原生语法一致
 */
/**
 * 定义动画
 * @method animation
 * @param {String} $animation 取值与原生语法一致
 */
/**
 * 定义补间
 * @method transition
 * @param {String} $transition 取值与原生语法一致
 */
/**
 * 定义显示类型为伸缩盒
 * @method flexbox
 * @param {String} $flexbox 默认值：flex，取值与最新原生语法一致
 */
/**
 * 定义伸缩盒子元素如何分配空间
 * @method flex
 * @param {String} $flex 默认值：1，取值与最新原生语法一致
 * @param {String} $direction 默认值: row
 */
/**
 * 定义伸缩盒子元素的排版顺序
 * @method order
 * @param {String} $order 默认值：1，取值与最新原生语法一致
 */
/**
 * 定义伸缩盒子元素的流动方向
 * @method flex-direction
 * @param {String} $flex-direction 默认值：row，取值与最新原生语法一致
 */
/**
 * 定义伸缩盒子元素溢出排版
 * @method flex-wrap
 * @param {String} $flex-wrap 默认值：nowrap，取值与最新原生语法一致
 */
/**
 * 定义伸缩盒子元素的水平对齐方式
 * @method justify-content
 * @param {String} $justify-content 默认值：center，取值与最新原生语法一致
 */
/**
 * 定义伸缩盒子元素的垂直对齐方式
 * @method align-items
 * @param {String} $align-items 默认值：center，取值与最新原生语法一致
 */
/**
 * 定义伸缩盒子元素自身的垂直对齐方式
 * @method align-self
 * @param {String} $align-self 默认值：center，取值与最新原生语法一致
 */
/**
 * 定义root root-scroll
 * @method root-scroll
 * @param {String} $root-scroll 指定scroll类型，取值overflow属性的标准值
 */
/**
 * 定义是否有滚动条
 * @method overflow
 * @param {String} $overflow 默认值：auto，取值与最新原生语法一致
 */
/**
 * 生成矩形方法
 * @method rect
 * @param {Length} $width 定义矩形的长度
 * @param {Length} $height 定义矩形的高度
 */
/**
 * 生成正方形方法
 * @method square
 * @param {Length} $size 定义正方形的边长
 */
/**
 * 生成圆形方法
 * @method circle
 * @param {Length} $size 定义圆的半径长度
 * @param {Length} $radius 定义圆的圆角半径长度
 */
/**
 * 生成全屏方法
 * @method fullscreen
 * @param {Integer} $z-index 定义层叠级别
 */
/**
 * 清除浮动方案
 * @method clearfix
 */
/**
 * 链接处理方法
 * @method link
 * @param {Color} $color 定义链接颜色
 */
/**
 * 强制换行方案
 * @method wrap
 */
/**
 * 单行文本溢出显示方案
 * @method ellipsis
 * @param {Boolen} $ellipsis 定义是否需要省略号
 */
/**
 * 文字隐藏方案
 * @method texthide
 */
/**
 * 清除间隙方案-容器
 * @method killspace
 */
/**
 * 清除间隙方案-子级
 * @method killspace-item
 */
/**
 * 未知尺寸元素垂直居中解决方案-容器
 * @method valign
 */
/**
 * 未知尺寸元素垂直居中解决方案-子级
 * @method valign-item
 */
/**
 * 已经尺寸元素垂直居中解决方案
 * @method alignment
 * @param {Length} $width 居中元素的宽度
 * @param {Length} $height 居中元素的高度
 */
/**
 * Yo框架全局Reset
 -----------------------
 * Yo重置Mobile及高级浏览器上常见的差异
 *
 * @class reset
 * @module Yo
 */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  background-color: #f9f9f9;
  color: #212121;
  font-size: 100px;
  -webkit-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
  font-family: Helvetica Neue, Helvetica, STHeiTi, sans-serif;
}

ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
  padding: 0;
}

input,
textarea,
button,
select,
pre,
xmp,
tt,
code,
kbd,
samp {
  line-height: inherit;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
small,
big,
input,
textarea,
button,
select {
  font-size: inherit;
}

address,
cite,
dfn,
em,
i,
optgroup,
var {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  text-align: left;
}

ul,
ol,
menu {
  list-style: none;
}

fieldset,
img {
  border: 0;
  vertical-align: middle;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "\0020";
}

textarea,
pre,
xmp {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

textarea {
  resize: vertical;
}

input,
textarea,
button,
select
a {
  outline: 0 none;
}

input,
textarea,
button,
select {
  color: inherit;
}
input:disabled,
textarea:disabled,
button:disabled,
select:disabled {
  opacity: 1;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button {
  -webkit-appearance: none;
  appearance: none;
}

mark {
  background-color: transparent;
}

a,
ins,
s,
u,
del {
  text-decoration: none;
}

a,
img {
  -webkit-touch-callout: none;
}

a {
  color: #00afc7;
}

.g-clear::after,
.g-mod::after {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  content: "\0020";
}

@font-face {
  font-family: yofont;
  src: url("http://source.qunar.com/fonts/yo/1.0.0/yofont.woff") format("woff"), url("http://source.qunar.com/fonts/yo/1.0.0/yofont.ttf") format("truetype");
}
.yo-ico {
  font-family: yofont !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

/**
 * Yo框架layout
 -----------------------
 * Yo内置的布局方式
 *
 * @class layout
 * @module Yo
 */
/**
 * @class layout
 */
/**
 * 构造独立区块布局
 -----------------------
 * 使用方法，详见 [Demo](http://doyoe.github.io/Yo/demo/layout/yo-stacked.html)
 * @method yo-stacked
 * @param {defailt | String} $name 定义名称
 * @param {defailt | Color} $margin 定义外边距
 */
.yo-stacked {
  display: block;
  margin: 0.2rem 0.1rem;
}
.yo-stacked::after {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  content: "\0020";
}

/**
 * @class layout
 */
/**
 * 构造弹性布局使用方法，可以是横向和纵向
 -----------------------
 * 使用方法，详见 [Demo](http://doyoe.github.io/Yo/demo/layout/yo-flex.html)
 * @method yo-flex
 * @param {String} $name 为新的扩展定义一个名称
 * @param {String} $box 指定块级或者行级弹性盒
 * @param {String} $direction 指定是水平或者垂直布局
 */
.yo-flex {
  height: 100%;
}
.yo-flex,
.yo-flex .flex-inherit {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  overflow: hidden;
}
.yo-flex > .flex,
.yo-flex .flex-inherit,
.yo-flex .flex-inherit > .flex {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: auto;
  position: relative;
}
.yo-flex > .flex,
.yo-flex .flex-inherit > .flex {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/**
 * @class layout
 */
/**
 * 构造弹性布局内容对齐使用方法，可以是横向和纵向
 -----------------------
 * 使用方法，详见 [Demo](http://doyoe.github.io/Yo/demo/layout/yo-align.html)
 * @method yo-align
 * @param {String} $name 为新的扩展定义一个名称
 * @param {String} $text-align 指定水平对齐方式
 * @param {String} $vertical-align 指定垂直对齐方式
 */
.yo-align {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/**
* document layout
* Author: joy.du(飘零雾雨)
* Time: 2013.10.17
*/
/**
 * module: m-code
 * Author: joy.du(飘零雾雨)
 * Time: 2013.10.17
 */
.m-code {
  -webkit-user-select: text;
  user-select: text;
  margin: .1rem;
  padding: .1rem;
  border-radius: 5px;
  background: #272822;
  color: #51bbe1;
  font-size: .2rem;
}
.m-code .method {
  color: #93de08;
}
.m-code .bracket,
.m-code .colon {
  padding-right: 5px;
  color: #fff;
}
.m-code mark {
  color: #ccc;
  font-size: .14rem;
}

/**
 * module: m-demo
 * Author: joy.du(飘零雾雨)
 * Time: 2013.10.17
 */
.m-demo .device .stage {
  position: relative;
  min-height: 2rem;
  background-color: #f9f9f9;
}
@media (min-width: 8rem) {
  .m-demo {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin: .1rem;
  }
  .m-demo .device {
    position: relative;
    width: 3.66rem;
    height: 7.83rem;
    border: .05rem solid #505559;
    border-radius: .55rem;
    background-color: #313538;
  }
  .m-demo .device::before, .m-demo .device::after {
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    content: "\0020";
  }
  .m-demo .device::before {
    top: .58rem;
    width: .68rem;
    height: .08rem;
    border-radius: 4px;
    background-color: #3e4243;
  }
  .m-demo .device::after {
    bottom: .18rem;
    width: 0.65rem;
    height: 0.65rem;
    border: .05rem solid #3e4243;
    border-radius: 50%;
  }
  .m-demo .device .stage {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    top: .99rem;
    left: .18rem;
    overflow: hidden;
    width: 3.20rem;
    height: 5.68rem;
  }
  .m-demo .device .stage .wrap {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    width: auto;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }
  .m-demo .device .stage, .m-demo .device .stage::before {
    position: absolute;
  }
  .m-demo .device .stage::before {
    top: -.68rem;
    left: 50%;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    background-color: #3e4243;
    box-shadow: -.5rem .26rem #3e4243;
    content: "\0020";
  }
}
.m-demo .code {
  display: block;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: 100%;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-user-select: text;
  user-select: text;
  margin: .1rem 0;
  border-width: .04rem 0 .04rem 0;
  border-style: solid;
  border-color: #ccc;
  padding: .1rem;
  background-color: #F0F3F8;
}
@media (min-width: 8rem) {
  .m-demo .code {
    margin: .1rem;
    border-width: 0 0 0 .04rem;
  }
}
.m-demo .code h3 {
  margin-top: .1rem;
}

/**
 * Yo框架widget基础构造
 -----------------------
 * Yo内置了常见的通用代码片段，如：列表，表格，按钮组，头
 *
 * @class widget
 * @module Yo
 */
/**
 * @class widget
 */
/**
 * 构造列表的自定义使用方法
 -----------------------
 * 使用方法，详见 [Demo](http://doyoe.github.io/Yo/demo/widget/yo-tab.html)
 * @method yo-tab
 * @param {default | String} $name 扩展的名称
 * @param {default | Length} $height 组件高度
 * @param {default | Length} $radius 圆角半径
 * @param {default | Length} $border-width 边框厚度
 * @param {default | Color} $bordercolor 边框色
 * @param {default | Color} $bgcolor 背景色
 * @param {default | Color} $color 文本色
 * @param {default | Color} $on-bgcolor 激活时背景色
 * @param {default | Color} $on-color 激活时文本色
 * @param {default | Color} $font-size 文本字号
 * @param {default | Color} $x-ico-size 子项内容为水平ico时，ico的大小
 * @param {default | Color} $y-ico-size 子项内容为垂直ico时，ico的大小
 * @param {default | Color} $only-ico-size 子项内容仅有ico时，ico的大小
 * @param {default | Length} $item-border-height 子项的间隔线高度
 * @param {default | Color} $item-bordercolor 子项的间隔线颜色
 */
.yo-tab {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  height: 0.44rem;
  -webkit-background-clip: padding-box !important;
  background-clip: padding-box !important;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #ccc;
  background-color: #fafafa;
  font-size: 0.14rem;
  text-align: center;
  line-height: 0.44rem;
}
.yo-tab > .item {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: 100%;
  height: auto;
  position: relative;
  color: #666;
}
.yo-tab > .item:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translatey(-50%);
  transform: translatey(-50%);
  width: 1px;
  height: 100%;
  background-color: transparent;
  content: "\0020";
}
.yo-tab > .item.item-on {
  color: #00bec8;
}
.yo-tab > .item-y-ico {
  padding-top: .04rem;
  line-height: .2rem;
}
.yo-tab > .item-y-ico .yo-ico {
  display: block;
  font-size: 0.2rem;
}
.yo-tab > .item-x-ico .yo-ico {
  font-size: 0.12rem;
}
.yo-tab > .item-only-ico .yo-ico {
  font-size: 0.28rem;
}

/**
 * yo-tab扩展
 * Author: joy.du(飘零雾雨)
 * Time: 2015.1.16
 */
.yo-tab-filter {
  height: 0.4rem;
  line-height: 0.4rem;
  border-width: 0 0 1px 0;
}
.yo-tab-filter > .item:not(:last-child)::after {
  height: 0.2rem;
  background-color: #ddd;
}

.yo-tab-view {
  font-size: 0.12rem;
}
