/* Diff with sass, compass, node-sass */

/* sass --> compass */



/* sass --> node-sass */

.yo-loading > .inner {
  padding: 0.1rem 0.2rem;
}

.yo-loadtip > .yo-ico {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.yo-range > input[type="range"] {
  background-size: 100% 0.04rem;
}

.yo-suggest > .operate .input {
  padding: 0 0.3rem;
}

.yo-suggest > .operate .yo-ico-delete,
.yo-suggest > .operate .yo-ico-fresh,
.yo-suggest > .operate .yo-ico-stop,
.yo-suggest > .operate .yo-ico-loading {
  padding: 0 0.08rem;
}

.yo-switchable > .index > li {
  margin: 0 0.05rem;
}

/* compass --> sass */



/* compass --> node-sass */

.yo-loading > .inner {
  padding: 0.1rem 0.2rem;
}

.yo-loadtip > .yo-ico {
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
}

.yo-range > input[type="range"] {
  background-size: 100% 0.04rem;
}

.yo-suggest > .operate .input {
  padding: 0 0.3rem;
}

.yo-suggest > .operate .yo-ico-delete,
.yo-suggest > .operate .yo-ico-fresh,
.yo-suggest > .operate .yo-ico-stop,
.yo-suggest > .operate .yo-ico-loading {
  padding: 0 0.08rem;
}

.yo-switchable > .index > li {
  margin: 0 0.05rem;
}

/* node-sass --> sass */

.yo-loading > .inner {
  padding: .1rem .2rem;
}

.yo-loadtip > .yo-ico {
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
}

.yo-range > input[type="range"] {
  background-size: 100% .04rem;
}

.yo-suggest > .operate .input {
  padding: 0 .3rem;
}

.yo-suggest > .operate .yo-ico-delete,
.yo-suggest > .operate .yo-ico-fresh,
.yo-suggest > .operate .yo-ico-stop,
.yo-suggest > .operate .yo-ico-loading {
  padding: 0 .08rem;
}

.yo-switchable > .index > li {
  margin: 0 .05rem;
}

/* node-sass --> compass */

.yo-loading > .inner {
  padding: .1rem .2rem;
}

.yo-loadtip > .yo-ico {
  -webkit-transition: -webkit-transform .3s;
  transition: transform .3s;
}

.yo-range > input[type="range"] {
  background-size: 100% .04rem;
}

.yo-suggest > .operate .input {
  padding: 0 .3rem;
}

.yo-suggest > .operate .yo-ico-delete,
.yo-suggest > .operate .yo-ico-fresh,
.yo-suggest > .operate .yo-ico-stop,
.yo-suggest > .operate .yo-ico-loading {
  padding: 0 .08rem;
}

.yo-switchable > .index > li {
  margin: 0 .05rem;
}