/* Diff with sass, compass, node-sass */

/**
 * Sass: 3.4.15
 * Node-Sass: 3.2.0 ( libsass 3.2.5 )
 * Compass: 1.0.3
 */

/* ==================== Diff sass and node-sass ==================== */

.yo-loading > .inner {
  padding: 0.1rem 0.2rem /* sass */;
  padding: .1rem .2rem /* node-sass */;
}

.yo-loadtip > .yo-ico {
  -webkit-transition: -webkit-transform 0.3s /* sass */;
  transition: transform 0.3s /* sass */;
  -webkit-transition: -webkit-transform .3s /* node-sass */;
  transition: transform .3s /* node-sass */;
}

.yo-range > input[type="range"] {
  background-size: 100% 0.04rem /* sass */;
  background-size: 100% .04rem /* node-sass */;
}

.yo-suggest > .operate .input {
  padding: 0 0.3rem /* sass */;
  padding: 0 .3rem /* node-sass */;
}

.yo-suggest > .operate .yo-ico-delete,
.yo-suggest > .operate .yo-ico-fresh,
.yo-suggest > .operate .yo-ico-stop,
.yo-suggest > .operate .yo-ico-loading {
  padding: 0 0.08rem /* sass */;
  padding: 0 .08rem /* node-sass */;
}

.yo-switchable > .index > li {
  margin: 0 0.05rem /* sass */;
  margin: 0 .05rem /* node-sass */;
}

/* ==================== Diff sass and compass ==================== */

/* No Difference */

/* ==================== Diff compass and node-ass ==================== */

.yo-loading > .inner {
  padding: 0.1rem 0.2rem /* compass */;
  padding: .1rem .2rem /* node-sass */;
}

.yo-loadtip > .yo-ico {
  -webkit-transition: -webkit-transform 0.3s /* compass */;
  transition: transform 0.3s /* compass */;
  -webkit-transition: -webkit-transform .3s /* node-sass */;
  transition: transform .3s /* node-sass */;
}

.yo-range > input[type="range"] {
  background-size: 100% 0.04rem /* compass */;
  background-size: 100% .04rem /* node-sass */;
}

.yo-suggest > .operate .input {
  padding: 0 0.3rem /* compass */;
  padding: 0 .3rem /* node-sass */;
}

.yo-suggest > .operate .yo-ico-delete,
.yo-suggest > .operate .yo-ico-fresh,
.yo-suggest > .operate .yo-ico-stop,
.yo-suggest > .operate .yo-ico-loading {
  padding: 0 0.08rem /* compass */;
  padding: 0 .08rem /* node-sass */;
}

.yo-switchable > .index > li {
  margin: 0 0.05rem /* compass */;
  margin: 0 .05rem /* node-sass */;
}