@charset "utf-8";
@import "../layout/layout";

/**
 * list演示页面
 * Author: joy.du(飘零雾雨)
 * Time: 2014.4.1
 */

.demo {
    border: 2px solid red;
    width: 50px;
    height: 50px;
    margin: 30px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    -webkit-transform: rotatez(0);
}
