@charset "utf-8";
@import "../layout/layout";
@import "../element/yo-btn";

/**
 * list演示页面
 * Author: joy.du(飘零雾雨)
 * Time: 2014.4.1
 */

.test {
    border: 2px solid #000;
    width: 200px;
    height: 200px;
    padding: 20px;
    background-color: gray;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);
    border-radius: 100px;
    background-clip: padding-box;
    background: gray;
}