@charset "utf-8";
@import "../layout/layout";

/**
 * list演示页面
 * Author: joy.du(飘零雾雨)
 * Time: 2014.4.1
 */

html,
body {
    height: 100%;
}
.demo {
    display: block;
    height: 50px;
    background: red;
    position: relative;
    input {
        position:absolute;
    }
    .type {
        position: relative;
        z-index: 2;
        height: 100%;
        background: #aaa;
    }
    input:checked + .type {
        background: #000;
        color: red;
    }
}
