@charset "utf-8";
@import "../layout/layout";
@import "../module/m-demo";
@import "../module/m-code";
@import "../../../lib/widget/yo-tab";

/**
 * g-tab演示页面
 * Author: joy.du(飘零雾雨)
 * Time: 2014.9.18
 */

.m-demo{
	.yo-tab{
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}
	.yo-tab-test{
		position: static;
		width: 80%;
		margin: 50px auto;
	}
}

@include yo-tab(test,true,true,.35rem);
@include yo-tab(only-ico,false,true,1rem,#000,#999,#fff);

