@charset "utf-8";
@import "../layout/layout";
@import "../module/m-demo";
@import "../fragment/yo-header";
@import "../fragment/yo-list";
/**
* yofont演示页面
* Author: joy.du(飘零雾雨)
* Time: 2014.4.1
*/


.m-demo {
    @include user-select(text);
    .flex {
        &::before,
        &::after {
            color: #999;
        }
        &::before {
            content: "( ";
        }
        &::after {
            content: " )";
        }
    }
}