@charset "utf-8";
@import "../../lib/fragment/yo-header";

/**
 * Fragment扩展: yo-header-normal, yo-header-positive
 * Author: joy.du(飘零雾雨)
 * Time: 2015.1.16
 */

@include yo-header(
    $bordercolor: #ddd,
    $bgcolor: #fafafa
);
@include yo-header(
    $name: positive,
    $bordercolor: #145fd7,
    $bgcolor: #4a87ee,
    $color: #fff,
    $item-ico-color: #7ff
);