@charset "utf-8";
@import "../../lib/fragment/yo-list";

/**
 * yo-list通用或全局扩展
 */

// 独立区块
@include yo-list(
    $name: panel,
    $label-padding: .2rem .1rem .05rem,
    $label-border-color: #ddd
);