@charset "utf-8";
@import "../../lib/layout/yo-flex";

/**
 * yo-flex扩展
 */

@include yo-flex {
    // 优化Demo在浏览器中查看的滚动体验
    // Yo框架内部已移除此规则，防止某些版本的iOS webview崩溃
    -webkit-overflow-scrolling: touch;
}