<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<link rel="apple-touch-icon-precomposed" href="/qunar-touch.png" />
<title>list - 列表</title>
<link rel="stylesheet" href="../../../yo/usage/demo/export/g-list.css" />
</head>
<body>

<section class="m-case">
    <header class="hd">
        <h2 class="title">Case 1: list</h2>
    </header>
    <div class="bd">
        <ul class="g-list">
            <li class="item">list item</li>
            <li class="item">list item</li>
            <li class="item">list item</li>
            <li class="item">list item</li>
        </ul>
    </div>
    <footer class="ft">
<xmp><ul class="g-list">
    <li class="item">list item</li>
    ...
</ul></xmp>
    </footer>
</section>

<section class="m-case">
    <header class="hd">
        <h2 class="title">Case 2: list group</h2>
    </header>
    <div class="bd">
        <div class="g-list">
            <h3 class="label">list group</h3>
            <a href="#" class="item">list item</a>
            <a href="#" class="item">list item</a>
            <h3 class="label">list group</h3>
            <a href="#" class="item">list item</a>
            <a href="#" class="item">list item</a>
            <h3 class="label">list group</h3>
            <a href="#" class="item">list item</a>
        </div>
    </div>
    <footer class="ft">
<xmp><div class="g-list">
    <h3 class="label">list group</h3>
    <a href="#" class="item">list item</a>
    <a href="#" class="item">list item</a>
    <h3 class="label">list group</h3>
    <a href="#" class="item">list item</a>
    ...
</div></xmp>
    </footer>
</section>

<section class="m-case">
    <header class="hd">
        <h2 class="title">Case 3: list icon</h2>
    </header>
    <div class="bd">
        <ul class="g-list">
            <a href="#" class="item">
                <i class="g-ico">&#xe60a;</i>
                list item
            </a>
            <a href="#" class="item">
                <i class="g-ico">&#xe60c;</i>
                list item
            </a>
            <a href="#" class="item">
                <i class="g-ico">&#xe60d;</i>
                list item
            </a>
            <a href="#" class="item">
                <i class="g-ico">&#xe60e;</i>
                list item
            </a>
        </ul>
    </div>
    <footer class="ft">
<xmp><ul class="g-list">
    <li class="item">list item</li>
    ...
</ul></xmp>
    </footer>
</section>

<section class="m-case">
    <header class="hd">
        <h2 class="title">Case 4: list form</h2>
    </header>
    <div class="bd">
        <ul class="g-list">
            <li class="item">
                <strong class="mark">name</strong>
                <div class="cont">sdfsdfsdf</div>
            </li>
            <li class="item">
                <strong class="mark">name</strong>
                <div class="cont">sdfsdfsdf</div>
            </li>
            <li class="item">
                <strong class="mark">name</strong>
                <div class="cont">sdfsdfsdf</div>
            </li>
            <a href="#" class="item">
                <strong class="mark">name</strong>
                <div class="cont">sdfsdfsdf</div>
                <i class="more">&gt;</i>
            </a>
            <li class="item">
                <strong class="mark">name</strong>
                <label class="cont"><input type="text" class="input" placeholder="必须为中文" /></label>
            </li>
        </ul>
    </div>
    <footer class="ft">
<xmp><ul class="g-list">
    <li class="item">
        <strong class="mark">name</strong>
        <div class="cont">sdfsdfsdf</div>
    </li>
    ...
</ul></xmp>
    </footer>
</section>


<section class="m-case">
    <header class="hd">
        <h2 class="title">Case 5: list table</h2>
    </header>
    <div class="bd">
        <ul class="g-list g-list-table">
            <li class="label">
                <div class="col c1">name</div>
                <div class="col c2">name</div>
                <div class="col c3">name</div>
                <div class="col c4">name</div>
                <div class="col c5">name</div>
            </li>
            <li class="item">
                <div class="col c1">name</div>
                <div class="col c2">name</div>
                <div class="col c3">name</div>
                <div class="col c4">name</div>
                <div class="col c5">name</div>
            </li>
            <li class="item">
                <div class="col c1">name</div>
                <div class="col c2">name</div>
                <div class="col c3">name</div>
                <div class="col c4">name</div>
                <div class="col c5">name</div>
            </li>
            <li class="item">
                <div class="col c1">name</div>
                <div class="col c2">name</div>
                <div class="col c3">name</div>
                <div class="col c4">name</div>
                <div class="col c5">name</div>
            </li>
        </ul>
    </div>
    <footer class="ft">
<xmp><ul class="g-list">
    <li class="item">
        <strong class="mark">name</strong>
        <div class="cont">sdfsdfsdf</div>
    </li>
    ...
</ul></xmp>
    </footer>
</section>

<pre class="m-code"><span class="method">@include g-list</span><span class="bracket">(</span>
    $name<span class="colon">:</span>default, <mark>//{default|String} g-list名称</mark>
    $is-outline<span class="colon">:</span>default, <mark>//{default|Boole} g-list是否需要轮廓（即外边框）</mark>
    $bordercolor<span class="colon">:</span>default, <mark>//{default|Color} g-list边框色</mark>
    $item-padding<span class="colon">:</span>default, <mark>//{default|Length} g-list项的内补白</mark>
    $mark-width<span class="colon">:</span>default, <mark>//{default|Length} g-list项的mark宽度</mark>
    $label-padding<span class="colon">:</span>default, <mark>//{default|Length} g-list分组标题内补白</mark>
    $label-bgcolor<span class="colon">:</span>default <mark>//{default|Length} g-list分组标题背景色</mark>
<span class="bracket">)</span>
</pre>

</body>
</html>