<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<link rel="apple-touch-icon-precomposed" href="/qunar-touch.png" />
<title>button toolbar - 按钮组</title>
<link rel="stylesheet" href="../../../yo/usage/demo/export/g-toolbar.css" />
</head>
<body>
<div class="demo">
    <h2 class="title">文字按钮工具栏:</h2>
    <div class="g-toolbar">
        <a href="?" class="g-btn g-btn-normal g-btn-m">取消</a>
        <a href="?" class="g-btn g-btn-normal g-btn-m">取消</a>
        <a href="?" class="g-btn g-btn-normal g-btn-m">取消</a>
    </div>
    <div class="g-toolbar">
        <a href="?" class="g-btn g-btn-primary g-btn-m">取消</a>
        <a href="?" class="g-btn g-btn-primary g-btn-m">取消</a>
        <a href="?" class="g-btn g-btn-primary g-btn-m">取消</a>
    </div>
    <div class="g-toolbar">
        <a href="?" class="g-btn g-btn-info g-btn-m">取消</a>
        <a href="?" class="g-btn g-btn-info g-btn-m">取消</a>
        <a href="?" class="g-btn g-btn-info g-btn-m">取消</a>
    </div>
    <h2 class="title">图标按钮工具栏:</h2>
    <div class="g-toolbar">
        <a href="?" class="g-btn g-btn-normal g-btn-m"><i class="g-ico">&#xe60a;</i></a>
        <a href="?" class="g-btn g-btn-normal g-btn-m"><i class="g-ico">&#xe60c;</i></a>
        <a href="?" class="g-btn g-btn-normal g-btn-m"><i class="g-ico">&#xe60d;</i></a>
    </div>
    <div class="g-toolbar">
        <a href="?" class="g-btn g-btn-primary g-btn-m"><i class="g-ico">&#xe60a;</i></a>
        <a href="?" class="g-btn g-btn-primary g-btn-m"><i class="g-ico">&#xe60c;</i></a>
        <a href="?" class="g-btn g-btn-primary g-btn-m"><i class="g-ico">&#xe60d;</i></a>
    </div>
    <div class="g-toolbar">
        <a href="?" class="g-btn g-btn-info g-btn-m"><i class="g-ico">&#xe60a;</i></a>
        <a href="?" class="g-btn g-btn-info g-btn-m"><i class="g-ico">&#xe60c;</i></a>
        <a href="?" class="g-btn g-btn-info g-btn-m"><i class="g-ico">&#xe60d;</i></a>
    </div>
</div>

<pre class="m-code"><span class="method">@include g-toolbar</span><span class="bracket">(</span>
    $name<span class="colon">:</span>default, <mark>//{default | String} g-toolbar名称</mark>
    $radius<span class="colon">:</span>default <mark>//{default | auto | Length} g-toolbar圆角，当值为auto时，圆角大小取决于按钮的圆角大小</mark>
<span class="bracket">)</span>
</pre>

</body>
</html>