<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<title>yo-list - 表单应用</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no" />
<link rel="shortcut icon" href="../../shortcut.png" />
<link rel="stylesheet" href="../../usage/export/yo-list2.css" />
</head>
<body>

<div class="yo-flex">
    <header class="yo-header">
        <h2 class="title">yo-list</h2>
        <a href="../index.html" class="regret yo-ico">&#xf07d;</a>
        <a href="../../doc/element.html#yo-list" class="affirm">文档</a>
    </header>
    <div class="flex">
        <section class="m-list">
            <h3 class="title">Inline Form：</h3>
            <div class="yo-list">
                <label class="item item-input">
                    <span class="mark">账号</span>
                    <input type="text" class="input flex" placeholder="必须为中文" />
                </label>
                <label class="item item-input">
                    <span class="mark">密码</span>
                    <input type="password" class="input flex" placeholder="字母、数字和特殊字符组合" />
                </label>
            </div>
        </section>
        <div class="m-note">
            <h2 class="title">常规使用：</h2>
            <p>使用<strong>yo-list</strong>元件来承载表单的布局，当在<strong>yo-list</strong>子项中使用了输入框时，只要给该子项加一个<code>.item-input</code>类，同时让输入框应用<code>.input</code>类即可。</p>
        </div>

        <section class="m-list">
            <h3 class="title">Placeholder Form：</h3>
            <div class="yo-list">
                <label class="item item-input">
                    <input type="text" class="input" placeholder="用户名" />
                </label>
                <label class="item item-input">
                    <input type="password" class="input" placeholder="密码" />
                </label>
                <label class="item item-input">
                    <textarea class="input" placeholder="留言"></textarea>
                </label>
            </div>
        </section>

        <section class="m-list">
            <h3 class="title">Stacked Form：</h3>
            <div class="yo-list">
                <label class="item item-input item-stacked">
                    <span class="mark">账号</span>
                    <input type="text" class="input" placeholder="不能是中文" />
                </label>
                <label class="item item-input item-stacked">
                    <span class="mark">密码</span>
                    <input type="password" class="input" placeholder="10个以上字符" />
                </label>
                <label class="item item-input item-stacked">
                    <span class="mark">内容</span>
                    <textarea class="input" placeholder="100字以内"></textarea>
                </label>
            </div>
        </section>
        <div class="m-note">
            <h2 class="title">常规使用：</h2>
            <p>如果需要让标签语与输入框换行显示，为该子项再加一个<code>.item-stacked</code>类即可。</p>
        </div>

        <section class="m-list">
            <h3 class="title">Inset Form：</h3>
            <div class="yo-list yo-list-inset">
                <label class="item item-input">
                    <input type="text" class="input" placeholder="用户名" />
                </label>
                <label class="item item-input">
                    <input type="password" class="input" placeholder="密码" />
                </label>
                <label class="item item-input">
                    <textarea class="input" placeholder="留言"></textarea>
                </label>
            </div>
        </section>
        <div class="m-note">
            <h2 class="title">扩展说明：</h2>
            <p>我们可以使用元件同名方法<code>yo-list()</code>来自定义<strong>yo-list</strong>，也可以对它进行扩展。</p>
            <p>当传入了<code>$name</code>参数时，会自动生成一个新类，而不影响默认值；当不传<code>$name</code>参数时，则会覆盖默认值。</p>
            <p>更多参数定义，请查看文档。</p>
        </div>

    </div>
</div>

</body>
</html>