<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<title>yo-table - 表格</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no" />
<link rel="apple-touch-icon" href="../../yo.png" />
<link rel="shortcut icon" href="../../shortcut.png" />
<link rel="stylesheet" href="../../usage/export/yo-table.css" />
</head>
<body>

<div class="yo-flex">
    <header class="yo-header">
        <h2 class="title">yo-table</h2>
        <a href="../index.html" class="regret yo-ico">&#xf07d;</a>
        <a href="../../doc/element.html#yo-table" class="affirm">文档</a>
    </header>
    <div class="flex">
        <table class="yo-table">
            <colgroup>
                <col class="c1" />
                <col class="c2" />
                <col class="c3" />
            </colgroup>
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>类型</th>
                    <th>手机号码</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>18623133202</td>
                </tr>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>18623133202</td>
                </tr>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>18623133202</td>
                </tr>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>18623133202</td>
                </tr>
            </tbody>
        </table>
        <div class="m-note">
            <h2 class="title">特征说明：</h2>
            <p>默认情况下，<strong>yo-table</strong>没有竖边线（当然，我们可以在config.scss文件里配置）。也可以通过<code>yo-table()</code>同名方法进行自定义。</p>
        </div>

        <table class="yo-table yo-table-test">
            <colgroup>
                <col class="c1" />
                <col class="c2" />
                <col class="c3" />
            </colgroup>
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>类型</th>
                    <th>手机号码</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>18623133202</td>
                </tr>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>18623133202</td>
                </tr>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>18623133202</td>
                </tr>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>18623133202</td>
                </tr>
            </tbody>
        </table>
        <div class="m-note">
            <h2 class="title">特征说明：</h2>
            <p>通过<code>yo-table()</code>同名方法的<code>$has-vertical-border</code>参数指定是否有竖直边线，值为<code>true</code>时，表示有竖直边线。</p>
        </div>

        <table class="yo-table yo-table-test2">
            <colgroup>
                <col class="c1" />
                <col class="c2" />
                <col class="c3" />
            </colgroup>
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>类型</th>
                    <th>职务</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>决策者</td>
                </tr>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>决策者</td>
                </tr>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>决策者</td>
                </tr>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>决策者</td>
                </tr>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>决策者</td>
                </tr>
            </tbody>
        </table>
        <div class="m-note">
            <h2 class="title">特征说明：</h2>
            <p>通过<code>yo-table()</code>同名方法的<code>$odd-bgcolor</code>和<code>$even-bgcolor</code>参数指定奇偶行的背景色。</p>
            <p>更多参数定义，请查看文档。</p>
        </div>

    </div>
</div>

</body>
</html>