<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<link rel="apple-touch-icon-precomposed" href="/qunar-touch.png" />
<title>header - 头部</title>
<link rel="stylesheet" href="../../../yo/usage/demo/export/yo-header.css" />
</head>
<body>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <h2 class="yo-header">Header</h2>
        <ul class="yo-list">
            <li class="item">list item</li>
            <li class="item">list item</li>
            <li class="item">list item</li>
            <li class="item">list item</li>
        </ul>
    </div>
    </div>
    <code class="code"><xmp><h2 class="yo-header">Header</h2></xmp></code>
</div>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <div class="yo-header">
            <h2 class="title">HeaderHeaderHeaderHeaderHeader</h2>
            <span class="regret">取消</span>
            <span class="affirm">确定</span>
        </div>
        <ul class="yo-list">
            <li class="item">list item</li>
            <li class="item">list item</li>
            <li class="item">list item</li>
            <li class="item">list item</li>
        </ul>
    </div>
    </div>
    <code class="code"><xmp><div class="yo-header">
    <h2 class="title">HeaderHeaderHeaderHeaderHeader</h2>
    <span class="regret">取消</span>
    <span class="affirm">确定</span>
</div></xmp></code>
</div>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <h2 class="yo-header yo-header-light">Header</h2>
        <ul class="yo-list">
            <li class="item">list item</li>
            <li class="item">list item</li>
            <li class="item">list item</li>
            <li class="item">list item</li>
        </ul>
    </div>
    </div>
    <code class="code"><xmp><h2 class="yo-header yo-header-light">Header</h2></xmp></code>
</div>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <h2 class="yo-header yo-header-positive">Header</h2>
        <ul class="yo-list">
            <li class="item">list item</li>
            <li class="item">list item</li>
            <li class="item">list item</li>
            <li class="item">list item</li>
        </ul>
    </div>
    </div>
    <code class="code"><xmp><h2 class="yo-header yo-header-positive">Header</h2></xmp></code>
</div>

<pre class="m-code"><span class="method">@include yo-header</span><span class="bracket">(</span>
    $name<span class="colon">:</span>default, <mark>//{default | String} yo-header名称</mark>
    $height<span class="colon">:</span>default, <mark>//{default | Length} yo-header高度</mark>
    $bgcolor<span class="colon">:</span>default, <mark>//{default | Color} yo-header背景色</mark>
    $color<span class="colon">:</span>default, <mark>//{default | Color} yo-header文本色</mark>
    $font-size<span class="colon">:</span>default <mark>//{default | Length} yo-header文字大小</mark>
<span class="bracket">)</span>
</pre>

</body>
</html>