<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<link rel="apple-touch-icon-precomposed" href="/qunar-touch.png" />
<title>list - 列表</title>
<link rel="stylesheet" href="../../../yo/usage/demo/export/yo-list.css" />
</head>
<body>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <ul class="yo-list">
            <li class="item">list item</li>
            <li class="item">list item</li>
            <li class="item">list item</li>
            <li class="item">list item</li>
        </ul>
    </div>
    </div>
    <code class="code"><xmp><ul class="yo-list">
    <li class="item">list item</li>
    <li class="item">list item</li>
    <li class="item">list item</li>
    <li class="item">list item</li>
</ul></xmp></code>
</div>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <div class="yo-list">
            <h3 class="label">list group</h3>
            <a href="#" class="item">list item</a>
            <a href="#" class="item">list item</a>
            <h3 class="label">list group</h3>
            <a href="#" class="item">list item</a>
            <a href="#" class="item">list item</a>
            <h3 class="label">list group</h3>
            <a href="#" class="item">list item</a>
        </div>
    </div>
    </div>
    <code class="code"><xmp><div class="yo-list">
    <h3 class="label">list group</h3>
    <a href="#" class="item">list item</a>
    <a href="#" class="item">list item</a>
    <h3 class="label">list group</h3>
    <a href="#" class="item">list item</a>
    <a href="#" class="item">list item</a>
    <h3 class="label">list group</h3>
    <a href="#" class="item">list item</a>
</div></xmp></code>
</div>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <ul class="yo-list">
            <li href="#" class="item">
                <div class="mark">
                    <i class="yo-ico">&#xf072;</i>
                </div>
                <div class="cont flex">飞行模式</div>
                <input type="checkbox" class="yo-switch" />
            </li>
            <li href="#" class="item">
                <div class="mark">
                    <i class="yo-ico">&#xf086;</i>
                </div>
                <div class="cont flex">WIFI</div>
            </li>
            <li href="#" class="item">
                <div class="mark">
                    <i class="yo-ico">&#xf11d;</i>
                </div>
                <div class="cont flex">蓝牙</div>
            </li>
            <li href="#" class="item">
                <div class="mark">
                    <i class="yo-ico">&#xf098;</i>
                </div>
                <div class="cont flex">运营商</div>
            </li>
        </ul>
    </div>
    </div>
    <code class="code"><xmp><ul class="yo-list">
    <li href="#" class="item">
        <div class="mark">
            <i class="yo-ico">&#xe60a;</i>
        </div>
        <div class="cont flex">飞行模式</div>
        <input type="checkbox" class="yo-switch" />
    </li>
    <li href="#" class="item">
        <div class="mark">
            <i class="yo-ico">&#xe60c;</i>
        </div>
        <div class="cont flex">WIFI</div>
    </li>
    ...   
</ul></xmp></code>
</div>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <div class="yo-list">
            <a href="#" class="item">
                <div class="mark">
                    <img src="../../../img/human.png" alt="美女" />
                </div>
                <div class="cont">
                    <h3>高圆圆</h3>
                    <p>这是一个我很喜欢的美女</p>
                </div>
            </a>
            <a href="#" class="item">
                <div class="mark">
                    <img src="../../../img/human.png" alt="美女" />
                </div>
                <div class="cont">
                    <h3>高圆圆</h3>
                    <p>这是一个我很喜欢的美女</p>
                </div>
            </a>
            <a href="#" class="item">
                <div class="mark">
                    <img src="../../../img/human.png" alt="美女" />
                </div>
                <div class="cont">
                    <h3>高圆圆</h3>
                    <p>这是一个我很喜欢的美女</p>
                </div>
            </a>
            <a href="#" class="item">
                <div class="mark">
                    <img src="../../../img/human.png" alt="美女" />
                </div>
                <div class="cont">
                    <h3>高圆圆</h3>
                    <p>这是一个我很喜欢的美女</p>
                </div>
            </a>
        </div>
    </div>
    </div>
    <code class="code"><xmp><div class="yo-list">
    <a href="#" class="item">
        <div class="mark">
            <img src="../../../img/human.png" alt="美女" />
        </div>
        <div class="mark">
            <h3>高圆圆</h3>
            <p>这是一个我很喜欢的美女</p>
        </div>
    </a>
    <a href="#" class="item">
        <div class="mark">
            <img src="../../../img/human.png" alt="美女" />
        </div>
        <div class="cont">
            <h3>高圆圆</h3>
            <p>这是一个我很喜欢的美女</p>
        </div>
    </a>
    ...
</div></xmp></code>
</div>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <ul class="yo-list">
            <li class="item">
                <strong class="mark">name</strong>
                <div class="cont flex">sdfsdfsdf</div>
            </li>
            <li class="item">
                <strong class="mark">name</strong>
                <div class="cont flex">sdfsdfsdf</div>
            </li>
            <li class="item">
                <strong class="mark">name</strong>
                <div class="cont flex">sdfsdfsdf</div>
            </li>
            <a href="#" class="item">
                <strong class="mark">name</strong>
                <div class="cont flex">sdfsdfsdf</div>
                <i class="yo-ico">&#xf105;</i>
            </a>
        </ul>
    </div>
    </div>
    <code class="code"><xmp><ul class="yo-list">
    <li class="item">
        <strong class="mark">name</strong>
        <div class="cont flex">sdfsdfsdf</div>
    </li>
    <li class="item">
        <strong class="mark">name</strong>
        <div class="cont flex">sdfsdfsdf</div>
    </li>
    <li class="item">
        <strong class="mark">name</strong>
        <div class="cont flex">sdfsdfsdf</div>
    </li>
    <a href="#" class="item">
        <strong class="mark">name</strong>
        <div class="cont flex">sdfsdfsdf</div>
        <i class="o-ico">&#xf105;</i>
    </a>
</ul></xmp></code>
</div>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <div class="yo-list">
            <label class="item">
                <span class="mark">账号</span>
                <input type="text" class="input flex" placeholder="必须为中文" />
            </label>
            <label class="item">
                <span class="mark">密码</span>
                <input type="text" class="input flex" placeholder="必须为中文" />
            </label>
        </div>
    </div>
    </div>
    <code class="code"><xmp><div class="yo-list">
    <label class="item">
        <span class="mark">账号</span>
        <input type="text" class="input flex" placeholder="必须为中文" />
    </label>
    <label class="item">
        <span class="mark">密码</span>
        <input type="text" class="input flex" placeholder="必须为中文" />
    </label>
</div></xmp></code>
</div>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <div class="yo-list">
            <label class="item">
                <input type="text" class="input flex" placeholder="用户名" />
            </label>
            <label class="item">
                <input type="text" class="input flex" placeholder="密码" />
            </label>
            <label class="item">
            <textarea class="input flex" placeholder="留言"></textarea>
            </label>
        </div>
    </div>
    </div>
    <code class="code"><xmp><div class="yo-list">
    <label class="item">
        <span class="mark">账号</span>
        <input type="text" class="input flex" placeholder="必须为中文" />
    </label>
    <label class="item">
        <span class="mark">密码</span>
        <input type="text" class="input flex" placeholder="必须为中文" />
    </label>
</div></xmp></code>
</div>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <ul class="yo-list">
            <li class="label">
                <div class="col c1">name</div>
                <div class="col c2 flex">name</div>
                <div class="col c3">name</div>
                <div class="col c4">name</div>
            </li>
            <li class="item">
                <div class="col c1">name</div>
                <div class="col c2 flex">name</div>
                <div class="col c3">name</div>
                <div class="col c4">name</div>
            </li>
            <li class="item">
                <div class="col c1">name</div>
                <div class="col c2 flex">name</div>
                <div class="col c3">name</div>
                <div class="col c4">name</div>
            </li>
            <li class="item">
                <div class="col c1">name</div>
                <div class="col c2 flex">name</div>
                <div class="col c3">name</div>
                <div class="col c4">name</div>
            </li>
        </ul>
    </div>
    </div>
    <code class="code"><xmp><ul class="yo-list">
    <li class="label">
        <div class="col c1">name</div>
        <div class="col c2 flex">name</div>
        <div class="col c3">name</div>
        <div class="col c4">name</div>
    </li>
    <li class="item">
        <div class="col c1">name</div>
        <div class="col c2 flex">name</div>
        <div class="col c3">name</div>
        <div class="col c4">name</div>
    </li>
    <li class="item">
        <div class="col c1">name</div>
        <div class="col c2 flex">name</div>
        <div class="col c3">name</div>
        <div class="col c4">name</div>
    </li>
    <li class="item">
        <div class="col c1">name</div>
        <div class="col c2 flex">name</div>
        <div class="col c3">name</div>
        <div class="col c4">name</div>
    </li>
</ul></xmp></code>
</div>


<pre class="m-code"><span class="method">@include yo-list</span><span class="bracket">(</span>
    $name<span class="colon">:</span>default, <mark>//{default|String} yo-list名称</mark>
    $is-outline<span class="colon">:</span>default, <mark>//{default|Boole} yo-list是否需要轮廓（即外边框）</mark>
    $bordercolor<span class="colon">:</span>default, <mark>//{default|Color} yo-list边框色</mark>
    $item-padding<span class="colon">:</span>default, <mark>//{default|Length} yo-list项的内补白</mark>
    $mark-width<span class="colon">:</span>default, <mark>//{default|Length} yo-list项的mark宽度</mark>
    $label-padding<span class="colon">:</span>default, <mark>//{default|Length} yo-list分组标题内补白</mark>
    $label-bgcolor<span class="colon">:</span>default <mark>//{default|Length} yo-list分组标题背景色</mark>
<span class="bracket">)</span>
</pre>

</body>
</html>