<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<link rel="apple-touch-icon-precomposed" href="/qunar-touch.png" />
<title>search - 浮层提示</title>
<link rel="stylesheet" href="../../../yo/usage/demo/export/yo-search.css" />
</head>
<body>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <label class="yo-search">
            <input type="text" class="input" placeholder="搜索" />
            <i class="yo-ico">&#xf002;</i>
            <span class="cancel">取消</span>
        </label>
    </div>
    </div>
    <code class="code"><xmp><div class="yo-search">请填写商户电话</div></xmp></code>
</div>


<pre class="m-code"><span class="method">@include yo-search</span><span class="bracket">(</span>
    $name<span class="colon">:</span>default, <mark>//{default | String} search名称</mark>
    $padding<span class="colon">:</span>default, <mark>//{default | Length} search内补白</mark>
    $radius<span class="colon">:</span>default, <mark>//{default | Length} search圆角</mark>
    $bgcolor<span class="colon">:</span>default, <mark>//{default | Color} search背景色</mark>
    $tcolor<span class="colon">:</span>default <mark>//{default | Color} search文本色</mark>
<span class="bracket">)</span>
</pre>

</body>
</html>