<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<link rel="apple-touch-icon-precomposed" href="/qunar-touch.png" />
<title>search - 搜索框</title>
<link rel="stylesheet" href="../../../yo/usage/demo/export/yo-search.css" />
</head>
<body>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <div class="yo-search">
            <span class="action">
                <input type="text" id="yo-search-input" class="input" />
                <label class="label" for="yo-search-input">
                    <i class="yo-ico yo-ico-search">&#xf002;</i>
                    <span class="placeholder">搜索</span>
                </label>
                <i class="yo-ico yo-ico-delete">&#xf057;</i>
                <i class="yo-ico yo-ico-fresh">&#xf01e;</i>
                <i class="yo-ico yo-ico-stop">&#xf00d;</i>
            </span>
            <span class="cancel">取消</span>
            <div class="mask"></div>
            <div class="result"></div>
        </div>
    </div>
    </div>
    <code class="code"><xmp><div class="yo-search">
    <span class="action">
        <input type="text" id="yo-search-input" class="input" />
        <label class="label" for="yo-search-input">
            <i class="yo-ico yo-ico-search">&#xf002;</i>
            <span class="placeholder">搜索</span>
        </label>
        <i class="yo-ico yo-ico-delete">&#xf057;</i>
        <i class="yo-ico yo-ico-fresh">&#xf01e;</i>
        <i class="yo-ico yo-ico-stop">&#xf00d;</i>
    </span>
    <span class="cancel">取消</span>
</div></xmp></code>
</div>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <div class="yo-search yo-search-on">
            <span class="action">
                <input type="text" id="yo-search-input" class="input" />
                <label class="label" for="yo-search-input">
                    <i class="yo-ico yo-ico-search">&#xf002;</i>
                    <span class="placeholder">搜索</span>
                </label>
                <i class="yo-ico yo-ico-delete">&#xf057;</i>
                <i class="yo-ico yo-ico-fresh">&#xf01e;</i>
                <i class="yo-ico yo-ico-stop">&#xf00d;</i>
            </span>
            <span class="cancel">取消</span>
        </div>
    </div>
    </div>
    <code class="code"><xmp><div class="yo-search yo-search-on">
    <span class="action">
        <input type="text" id="yo-search-input" class="input" />
        <label class="label" for="yo-search-input">
            <i class="yo-ico yo-ico-search">&#xf002;</i>
            <span class="placeholder">搜索</span>
        </label>
        <i class="yo-ico yo-ico-delete">&#xf057;</i>
        <i class="yo-ico yo-ico-fresh">&#xf01e;</i>
        <i class="yo-ico yo-ico-stop">&#xf00d;</i>
    </span>
    <span class="cancel">取消</span>
</div></xmp></code>
</div>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <div class="yo-search yo-search-fresh">
            <span class="action">
                <input type="text" id="yo-search-input" class="input" value="五星级酒店" />
                <label class="label" for="yo-search-input">
                    <i class="yo-ico yo-ico-search">&#xf002;</i>
                    <span class="placeholder">搜索</span>
                </label>
                <i class="yo-ico yo-ico-delete">&#xf057;</i>
                <i class="yo-ico yo-ico-fresh">&#xf01e;</i>
                <i class="yo-ico yo-ico-stop">&#xf00d;</i>
            </span>
            <span class="cancel">取消</span>
        </div>
    </div>
    </div>
    <code class="code"><xmp><div class="yo-search yo-search-fresh">
    <span class="action">
        <input type="text" id="yo-search-input" class="input" />
        <label class="label" for="yo-search-input">
            <i class="yo-ico yo-ico-search">&#xf002;</i>
            <span class="placeholder">搜索</span>
        </label>
        <i class="yo-ico yo-ico-delete">&#xf057;</i>
        <i class="yo-ico yo-ico-fresh">&#xf01e;</i>
        <i class="yo-ico yo-ico-stop">&#xf00d;</i>
    </span>
    <span class="cancel">取消</span>
</div></xmp></code>
</div>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <div class="yo-search yo-search-stop">
            <span class="action">
                <input type="text" id="yo-search-input" class="input" value="五星级酒店" />
                <label class="label" for="yo-search-input">
                    <i class="yo-ico yo-ico-search">&#xf002;</i>
                    <span class="placeholder">搜索</span>
                </label>
                <i class="yo-ico yo-ico-delete">&#xf057;</i>
                <i class="yo-ico yo-ico-fresh">&#xf01e;</i>
                <i class="yo-ico yo-ico-stop">&#xf00d;</i>
            </span>
            <span class="cancel">取消</span>
        </div>
    </div>
    </div>
    <code class="code"><xmp><div class="yo-search yo-search-stop">
    <span class="action">
        <input type="text" id="yo-search-input" class="input" />
        <label class="label" for="yo-search-input">
            <i class="yo-ico yo-ico-search">&#xf002;</i>
            <span class="placeholder">搜索</span>
        </label>
        <i class="yo-ico yo-ico-delete">&#xf057;</i>
        <i class="yo-ico yo-ico-fresh">&#xf01e;</i>
        <i class="yo-ico yo-ico-stop">&#xf00d;</i>
    </span>
    <span class="cancel">取消</span>
</div></xmp></code>
</div>

<pre class="m-code"><span class="method">@include yo-search</span><span class="bracket">(</span>
    $name<span class="colon">:</span>default, <mark>//{default | String} search名称</mark>
    $padding<span class="colon">:</span>default, <mark>//{default | Length} search内补白</mark>
    $radius<span class="colon">:</span>default, <mark>//{default | Length} search圆角</mark>
    $bgcolor<span class="colon">:</span>default, <mark>//{default | Color} search背景色</mark>
    $tcolor<span class="colon">:</span>default <mark>//{default | Color} search文本色</mark>
<span class="bracket">)</span>
</pre>

</body>
</html>