<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,minimal-ui" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<link rel="apple-touch-icon-precomposed" href="/qunar-touch.png" />
<title>table - 表格</title>
<link rel="stylesheet" href="../../../yo/usage/demo/export/yo-table.css" />
</head>
<body>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <div class="yo-table">
            <table>
                <colgroup>
                    <col class="c1" />
                    <col class="c2" />
                    <col class="c3" />
                </colgroup>
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>类型</th>
                        <th>手机号码</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>疾风</td>
                        <td>决策者</td>
                        <td>18623133202</td>
                    </tr>
                    <tr>
                        <td>疾风</td>
                        <td>决策者</td>
                        <td>18623133202</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <code class="code"><xmp><div class="yo-table">
    <table>
        <colgroup>
            <col class="c1" />
            <col class="c2" />
            <col class="c3" />
        </colgroup>
        <thead>
            <tr>
                <th>姓名</th>
                <th>类型</th>
                <th>手机号码</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>疾风</td>
                <td>决策者</td>
                <td>18623133202</td>
            </tr>
            <tr>
                <td>疾风</td>
                <td>决策者</td>
                <td>18623133202</td>
            </tr>
        </tbody>
    </table>
</div></xmp></code>
</div>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <div class="yo-table yo-table-test">
            <table>
                <colgroup>
                    <col class="c1" />
                    <col class="c2" />
                    <col class="c3" />
                </colgroup>
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>类型</th>
                        <th>手机号码</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>疾风</td>
                        <td>决策者</td>
                        <td>18623133202</td>
                    </tr>
                    <tr>
                        <td>疾风</td>
                        <td>决策者</td>
                        <td>18623133202</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <code class="code"><xmp><div class="yo-table yo-table-test">
    <table>
        <colgroup>
            <col class="c1" />
            <col class="c2" />
            <col class="c3" />
        </colgroup>
        <thead>
            <tr>
                <th>姓名</th>
                <th>类型</th>
                <th>手机号码</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>疾风</td>
                <td>决策者</td>
                <td>18623133202</td>
            </tr>
            <tr>
                <td>疾风</td>
                <td>决策者</td>
                <td>18623133202</td>
            </tr>
        </tbody>
    </table>
</div>

@include yo-table(test,default,true,default,default,default,default,#ddd,default,none,default,none);</xmp></code>
</div>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <div class="yo-table yo-table-zone">
            <table>
                <caption>本次门店合作</caption>
                <colgroup>
                    <col class="c1" />
                    <col class="c2" />
                    <col class="c3" />
                </colgroup>
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>类型</th>
                        <th>职务</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <td colspan="3"><a href="?">添加新门店</a></td>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <td>疾风</td>
                        <td>决策者</td>
                        <td>决策者</td>
                    </tr>
                    <tr>
                        <td>疾风</td>
                        <td>决策者</td>
                        <td>决策者</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <code class="code"><xmp><div class="yo-table yo-table-zone">
    <table>
        <caption>本次门店合作</caption>
        <colgroup>
            <col class="c1" />
            <col class="c2" />
            <col class="c3" />
        </colgroup>
        <thead>
            <tr>
                <th>姓名</th>
                <th>类型</th>
                <th>职务</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="3"><a href="?">添加新门店</a></td>
            </tr>
        </tfoot>
        <tbody>
            <tr>
                <td>疾风</td>
                <td>决策者</td>
                <td>决策者</td>
            </tr>
            <tr>
                <td>疾风</td>
                <td>决策者</td>
                <td>决策者</td>
            </tr>
        </tbody>
    </table>
</div></xmp></code>
</div>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <div class="yo-table yo-table-test2">
            <table>
                <colgroup>
                    <col class="c1" />
                    <col class="c2" />
                    <col class="c3" />
                </colgroup>
                <thead>
                    <tr>
                        <th>姓名</th>
                        <th>类型</th>
                        <th>职务</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>疾风</td>
                        <td>决策者</td>
                        <td>决策者</td>
                    </tr>
                    <tr>
                        <td>疾风</td>
                        <td>决策者</td>
                        <td>决策者</td>
                    </tr>
                    <tr>
                        <td>疾风</td>
                        <td>决策者</td>
                        <td>决策者</td>
                    </tr>
                    <tr>
                        <td>疾风</td>
                        <td>决策者</td>
                        <td>决策者</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    </div>
    <code class="code"><xmp><div class="yo-table yo-table-test2">
    <table>
        <colgroup>
            <col class="c1" />
            <col class="c2" />
            <col class="c3" />
        </colgroup>
        <thead>
            <tr>
                <th>姓名</th>
                <th>类型</th>
                <th>职务</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>疾风</td>
                <td>决策者</td>
                <td>决策者</td>
            </tr>
            <tr>
                <td>疾风</td>
                <td>决策者</td>
                <td>决策者</td>
            </tr>
            <tr>
                <td>疾风</td>
                <td>决策者</td>
                <td>决策者</td>
            </tr>
            <tr>
                <td>疾风</td>
                <td>决策者</td>
                <td>决策者</td>
            </tr>
        </tbody>
    </table>
</div>

@include yo-table(test2,default,default,default,default,default,default,default,#aaa,default,#eee,#effbfb);</xmp></code>
</div>


<pre class="m-code"><span class="method">@include yo-table</span><span class="bracket">(</span>
    $name<span class="colon">:</span>default, <mark>//{default|String} table名称</mark>
    $width<span class="colon">:</span>default, <mark>//{default|Length} table宽度</mark>
    $is-vertical-border<span class="colon">:</span>default, <mark>//{default|Boole} table是否需要纵向边框</mark>
    $padding<span class="colon">:</span>default, <mark>//{default|Length} table与外边框的距离</mark>
    $caption-padding<span class="colon">:</span>default, <mark>//{default|Length} table标题内补白</mark>
    $thead-padding<span class="colon">:</span>default, <mark>//{default|Length} table头部内补白</mark>
    $tbody-padding<span class="colon">:</span>default, <mark>//{default|Length} table主体内补白</mark>
    $bordercolor<span class="colon">:</span>default, <mark>//{default|Color} table边框色</mark>
    $thead-bgcolor<span class="colon">:</span>default, <mark>//{default|Color} table头部背景色</mark>
    $odd-bgcolor<span class="colon">:</span>default, <mark>//{default|Color} table奇数行背景色</mark>
    $even-bgcolor<span class="colon">:</span>default, <mark>//{default|Color} table偶数行背景色</mark>
    $hover-bgcolor<span class="colon">:</span>default <mark>//{default|Color} table经过背景色</mark>
<span class="bracket">)</span>
</pre>

</body>
</html>