<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<title>yo-list - 列表</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no" />
<link rel="apple-touch-icon" href="../../yo.png" />
<link rel="shortcut icon" href="../../shortcut.png" />
<link rel="stylesheet" href="../../usage/export/yo-list.css" />
</head>
<body>

<div class="yo-flex">
    <header class="yo-header m-header">
        <h2 class="title">yo-list</h2>
        <a href="../index.html" class="regret yo-ico">&#xf07d;</a>
        <a href="../../doc/element.html#yo-list" class="affirm">文档</a>
    </header>
    <div class="flex">
        <div class="yo-list yo-list-group">
            <h3 class="label">普通列表1：</h3>
            <div class="item">ListItem</div>
            <div class="item">ListItem</div>
            <div class="item">ListItem</div>
            <div class="item">ListItem</div>

            <h3 class="label">普通列表2：</h3>
            <div class="item">
                <span class="mark">标题</span>
                <div class="flex">具体描述</div>
            </div>
            <div class="item">
                <span class="mark">标题</span>
                <div class="flex">具体描述</div>
            </div>
            <div class="item">
                <span class="mark">标题</span>
                <div class="flex">具体描述</div>
            </div>
            <div class="item">
                <span class="mark">标题</span>
                <div class="flex">具体描述</div>
            </div>
        </div>

        <div class="m-note">
            <h2 class="title">注意事项：</h2>
            <p>由于<strong>yo-list</strong>元件的<strong>item</strong>默认是<code>flex</code>布局，为了兼容低版本的Android和iOS，<strong>item</strong>的子元素需要是块级元素。[<a href="https://github.com/doyoe/trip#user-content-flex" target="_blank">为什么flex布局不生效</a>]</p>
        </div>

        <div class="yo-list yo-list-group">
            <h3 class="label">普通列表3：</h3>
            <div class="item">
                <i class="yo-ico">&#xf04a;</i>
                <div class="flex">飞行模式</div>
                <label class="yo-switch">
                    <input type="checkbox" />
                    <div class="track">
                        <span class="handle"></span>
                    </div>
                </label>
            </div>
            <div class="item item-active">
                <i class="yo-ico">&#xf04b;</i>
                <div class="flex">WIFI</div>
                <div class="info">wahaha</div>
                <i class="yo-ico">&#xf07f;</i>
            </div>
            <div class="item item-active">
                <i class="yo-ico">&#xf04a;</i>
                <div class="flex">蓝牙</div>
                <div class="info">关闭</div>
                <i class="yo-ico">&#xf07f;</i>
            </div>
            <div class="item item-active">
                <i class="yo-ico">&#xf063;</i>
                <div class="flex">运营商</div>
                <div class="info">中国联通</div>
                <i class="yo-ico">&#xf07f;</i>
            </div>
        </div>

        <div class="yo-list yo-list-group">
            <h3 class="label">图文列表：</h3>
            <a href="#" class="item item-active">
                <div class="mark">
                    <img src="http://pic5.duowan.com/psp/1005/138297782616/138298560095.jpg" alt="美女" />
                </div>
                <div class="flex">
                    <h3 class="title">标题栏</h3>
                    <p class="detail">这是一张很漂亮的图片</p>
                </div>
                <div class="info">
                    19:30
                </div>
            </a>
            <a href="#" class="item item-active">
                <div class="mark">
                    <img src="http://pic5.duowan.com/psp/1005/138297782616/138298560095.jpg" alt="美女" />
                </div>
                <div class="flex">
                    <h3 class="title">标题栏</h3>
                    <p class="detail">这是一张很漂亮的图片</p>
                </div>
            </a>
            <a href="#" class="item item-active">
                <div class="mark">
                    <img src="http://pic5.duowan.com/psp/1005/138297782616/138298560095.jpg" alt="美女" />
                </div>
                <div class="flex">
                    <h3 class="title">标题栏</h3>
                    <p class="detail">这是一张很漂亮的图片</p>
                </div>
            </a>
            <a href="#" class="item item-active">
                <div class="mark">
                    <img src="http://pic5.duowan.com/psp/1005/138297782616/138298560095.jpg" alt="美女" />
                </div>
                <div class="flex">
                    <h3 class="title">标题栏</h3>
                    <p class="detail">这是一张很漂亮的图片</p>
                </div>
            </a>
        </div>

        <div class="m-list">
            <h3 class="title">类表格列表：</h3>
            <ul class="yo-list">
                <li class="label tr">
                    <div class="col c1">第1列</div>
                    <div class="col c2 flex">第2列</div>
                    <div class="col c3">第3列</div>
                    <div class="col c4">第4列</div>
                </li>
                <li class="item tr">
                    <div class="col c1">name</div>
                    <div class="col c2 flex">name</div>
                    <div class="col c3">name</div>
                    <div class="col c4">name</div>
                </li>
                <li class="item tr">
                    <div class="col c1">name</div>
                    <div class="col c2 flex">name</div>
                    <div class="col c3">name</div>
                    <div class="col c4">name</div>
                </li>
                <li class="item tr">
                    <div class="col c1">name</div>
                    <div class="col c2 flex">name</div>
                    <div class="col c3">name</div>
                    <div class="col c4">name</div>
                </li>
            </ul>
        </div>

        <div class="m-list">
            <h3 class="title">分组列表：</h3>
            <div class="yo-list">
                <h3 class="label">GroupTitle</h3>
                <a href="#" class="item">ListItem</a>
                <a href="#" class="item">ListItem</a>
                <h3 class="label">GroupTitle</h3>
                <a href="#" class="item">ListItem</a>
                <a href="#" class="item">ListItem</a>
                <h3 class="label">GroupTitle</h3>
                <a href="#" class="item">ListItem</a>
                <a href="#" class="item">ListItem</a>
            </div>
        </div>

        <div class="m-note">
            <h2 class="title">扩展说明：</h2>
            <p>我们可以使用元件同名方法<code>yo-list()</code>来自定义<strong>yo-list</strong>，也可以对它进行扩展。</p>
            <p>当传入了<code>$name</code>参数时，会自动生成一个新类，而不影响默认值；当不传<code>$name</code>参数时，则会覆盖默认值。</p>
            <p>更多参数定义，请查看文档。</p>
        </div>

    </div>
</div>
</body>
</html>