@charset "utf-8";
@import "../../lib/element/yo-btn";

/**
 * yo-btn扩展
 * Author: joy.du(飘零雾雨)
 * Time: 2015.1.16
 */

// 预设轻柔按钮
@include yo-btn(
    $name: light,
    $bordercolor: #ddd,
    $bgcolor: #fff,
    $color: map-get($base, color)
);
// 预设信息按钮
@include yo-btn(
    $name: info,
    $bordercolor: #0456e2,
    $bgcolor: #4a87ee
);
// 预设常见按钮
@include yo-btn(
    $name: normal,
    $bordercolor: #1ba9ba,
    $bgcolor: #fff,
    $color: #1ba9ba,
    $active-bgcolor: #1ba9ba,
    $active-color: #fff
);