<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<title>yo-actionsheet - 活动清单</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no" />
<link rel="apple-touch-icon" href="../../yo.png" />
<link rel="shortcut icon" href="../../shortcut.png" />
<link rel="stylesheet" href="../../usage/export/yo-actionsheet.css" />
</head>
<body>

<div class="yo-flex">
    <header class="yo-header">
        <h2 class="title">yo-actionsheet</h2>
        <a href="../index.html" class="regret yo-ico">&#xf07d;</a>
        <a href="../../doc/element.html#yo-actionsheet" class="affirm">文档</a>
    </header>
    <div class="flex">
        <div class="m-note">
            <h2 class="title">扩展说明：</h2>
            <p>我们可以使用元件同名方法<code>yo-actionsheet()</code>来自定义<strong>yo-actionsheet</strong>，也可以对它进行扩展。</p>
            <p>当传入了<code>$name</code>参数时，会自动生成一个新类，而不影响默认值；当不传<code>$name</code>参数时，则会覆盖默认值。</p>
        </div>
        <div class="yo-modal yo-modal-bottom yo-modal-stretch-x">
            <div class="cont">
                <div class="yo-actionsheet">
                    <div class="menu">
                        <h3 class="title">保存图片？</h3>
                        <div class="item">存储图像</div>
                        <div class="item">拷贝</div>
                    </div>
                    <ul class="action">
                        <li class="item item-important">取消</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>