<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<link rel="apple-touch-icon-precomposed" href="/qunar-touch.png" />
<title>button btnbar - 按钮组</title>
<link rel="stylesheet" href="../../usage/demo/export/yo-btnbar.css" />
</head>
<body>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <h2 class="yo-header">Button Bar</h2>
        <div class="yo-btnbar">
            <a href="?" class="yo-btn yo-btn-m">取消</a>
            <a href="?" class="yo-btn yo-btn-m">取消</a>
            <a href="?" class="yo-btn yo-btn-m">取消</a>
        </div>
        <div class="yo-btnbar">
            <a href="?" class="yo-btn yo-btn-m"><i class="yo-ico">&#xf07d;</i></a>
            <a href="?" class="yo-btn yo-btn-m"><i class="yo-ico">&#xf07e;</i></a>
            <a href="?" class="yo-btn yo-btn-m"><i class="yo-ico">&#xf07f;</i></a>
        </div>
    </div>
    </div>
    <code class="code"><xmp><div class="yo-btnbar">
    <a href="?" class="yo-btn yo-btn-m">取消</a>
    <a href="?" class="yo-btn yo-btn-m">取消</a>
    <a href="?" class="yo-btn yo-btn-m">取消</a>
</div>
<div class="yo-btnbar">
    <a href="?" class="yo-btn yo-btn-m"><i class="yo-ico">&#xf07d;</i></a>
    <a href="?" class="yo-btn yo-btn-m"><i class="yo-ico">&#xf07e;</i></a>
    <a href="?" class="yo-btn yo-btn-m"><i class="yo-ico">&#xf07f;</i></a>
</div></xmp></code>
</div>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <h2 class="yo-header">Button Bar</h2>
        <div class="yo-btnbar yo-btnbar-test">
            <a href="?" class="yo-btn yo-btn-m">按钮</a>
            <a href="?" class="yo-btn yo-btn-m">按钮</a>
            <a href="?" class="yo-btn yo-btn-m">按钮</a>
            <a href="?" class="yo-btn yo-btn-m">按钮</a>
        </div>
    </div>
    </div>
    <code class="code">
    <h2>假设你想要改变圆角，那么你可以这样扩展：</h2>
    <p>命名及颜色按照各自团队内部的FE/UI规范即可</p>
    <h3>全局扩展方式：</h3>
    <xmp>@include yo-btnbar(test,.1rem);</xmp>
    <h3>使用方法：</h3>
    <xmp><div class="yo-btnbar yo-btnbar-test">
    ...
</div></xmp>
    <h3>局部扩展方式：</h3>
    <xmp>.xxx{
    @include yo-btnbar(test,.1rem);
}</xmp>
    <h3>使用方法：</h3>
    <xmp><div class="xxx">
    <div class="yo-btnbar yo-btnbar-test">
    ...
</div>
</div></xmp>
    </code>
</div>


<pre class="m-code"><span class="method">@include yo-btnbar</span><span class="bracket">(</span>
    $name<span class="colon">:</span>default, <mark>//{default | String} yo-btnbar名称</mark>
    $radius<span class="colon">:</span>default <mark>//{default | auto | Length} yo-btnbar圆角，当值为auto时，圆角大小取决于按钮的圆角大小</mark>
<span class="bracket">)</span>
</pre>

</body>
</html>