<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<link rel="apple-touch-icon-precomposed" href="/qunar-touch.png" />
<title>list - 列表</title>
<link rel="stylesheet" href="../../usage/demo/export/yo-list.css" />
</head>
<body>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <h2 class="yo-header">Default List</h2>
        <ul class="yo-list">
            <li class="item">list item</li>
            <li class="item">list item</li>
            <li class="item">list item</li>
            <li class="item">list item</li>
        </ul>
    </div>
    </div>
    <code class="code"><xmp><h2 class="yo-header">Default List</h2>
<ul class="yo-list">
    <li class="item">list item</li>
    <li class="item">list item</li>
    <li class="item">list item</li>
    <li class="item">list item</li>
</ul></xmp></code>
</div>


<div class="m-demo">
    <div class="device">
    <div class="stage">
        <h2 class="yo-header">Default List</h2>
        <ul class="yo-list">
            <li class="item">
                <span class="mark">标题</span>
                <div class="cont flex">具体描述</div>
            </li>
            <li class="item">
                <span class="mark">标题</span>
                <div class="cont flex">具体描述</div>
            </li>
            <li class="item">
                <span class="mark">标题</span>
                <div class="cont flex">具体描述</div>
            </li>
            <li class="item">
                <span class="mark">标题</span>
                <div class="cont flex">具体描述</div>
            </li>
        </ul>
    </div>
    </div>
    <code class="code"><xmp><h2 class="yo-header">Default List</h2>
<ul class="yo-list">
    <li class="item">
        <span class="mark">标题</span>
        <div class="cont flex">具体描述</div>
    </li>
    <li class="item">
        <span class="mark">标题</span>
        <div class="cont flex">具体描述</div>
    </li>
    <li class="item">
        <span class="mark">标题</span>
        <div class="cont flex">具体描述</div>
    </li>
    <li class="item">
        <span class="mark">标题</span>
        <div class="cont flex">具体描述</div>
    </li>
</ul></xmp></code>
</div>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <h2 class="yo-header">Default Group List</h2>
        <div class="yo-list">
            <h3 class="label">list group</h3>
            <a href="#" class="item item-active">list item</a>
            <a href="#" class="item item-active">list item</a>
            <h3 class="label">list group</h3>
            <a href="#" class="item item-active">list item</a>
            <a href="#" class="item item-active">list item</a>
            <h3 class="label">list group</h3>
            <a href="#" class="item item-active">list item</a>
        </div>
    </div>
    </div>
    <code class="code"><xmp><h2 class="yo-header">Default List</h2>
<div class="yo-list">
    <h3 class="label">list group</h3>
    <a href="#" class="item item-active">list item</a>
    <a href="#" class="item item-active">list item</a>
    <h3 class="label">list group</h3>
    <a href="#" class="item item-active">list item</a>
    <a href="#" class="item item-active">list item</a>
    <h3 class="label">list group</h3>
    <a href="#" class="item item-active">list item</a>
</div></xmp></code>
</div>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <h2 class="yo-header">Default Ico List</h2>
        <ul class="yo-list">
            <li class="item">
                <i class="yo-ico">&#xf04a;</i>
                <div class="cont flex">飞行模式</div>
                <label class="yo-switch">
                    <input type="checkbox" />
                    <div class="track">
                        <span class="handle"></span>
                    </div>
                </label>
            </li>
            <li class="item">
                <i class="yo-ico">&#xf04b;</i>
                <div class="cont flex">WIFI</div>
            </li>
            <li class="item">
                <i class="yo-ico">&#xf04a;</i>
                <div class="cont flex">蓝牙</div>
            </li>
            <li class="item item-active">
                <i class="yo-ico">&#xf063;</i>
                <div class="cont flex">运营商</div>
                <i class="yo-ico">&#xf03e;</i>
            </li>
        </ul>
    </div>
    </div>
    <code class="code"><xmp><h2 class="yo-header">Default Ico List</h2>
<ul class="yo-list">
    <li class="item">
        <i class="yo-ico">&#xf072;</i>
        <div class="cont flex">飞行模式</div>
        <input type="checkbox" class="yo-switch" />
    </li>
    <li class="item">
        <i class="yo-ico">&#xf086;</i>
        <div class="cont flex">WIFI</div>
    </li>
    <li class="item">
        <i class="yo-ico">&#xf11d;</i>
        <div class="cont flex">蓝牙</div>
    </li>
    <li class="item item-active">
        <i class="yo-ico">&#xf098;</i>
        <div class="cont flex">运营商</div>
        <i class="yo-ico">&#xf105;</i>
    </li>
</ul></xmp></code>
</div>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <h2 class="yo-header">Default Img List</h2>
        <div class="yo-list">
            <a href="#" class="item item-active">
                <div class="mark">
                    <img src="http://d.hiphotos.baidu.com/image/pic/item/9d82d158ccbf6c81037f3d5bbf3eb13533fa403c.jpg" alt="美女" />
                </div>
                <div class="cont">
                    <h3>高圆圆</h3>
                    <p>这是一个我很喜欢的美女</p>
                </div>
            </a>
            <a href="#" class="item item-active">
                <div class="mark">
                    <img src="http://b.hiphotos.baidu.com/image/pic/item/9f510fb30f2442a7186eec16d243ad4bd1130224.jpg" alt="美女" />
                </div>
                <div class="cont">
                    <h3>高圆圆</h3>
                    <p>这是一个我很喜欢的美女</p>
                </div>
            </a>
            <a href="#" class="item item-active">
                <div class="mark">
                    <img src="http://e.hiphotos.baidu.com/image/pic/item/43a7d933c895d1436916f59070f082025aaf0724.jpg" alt="美女" />
                </div>
                <div class="cont">
                    <h3>高圆圆</h3>
                    <p>这是一个我很喜欢的美女</p>
                </div>
            </a>
            <a href="#" class="item item-active">
                <div class="mark">
                    <img src="http://a.hiphotos.baidu.com/image/pic/item/a044ad345982b2b79808287732adcbef77099be9.jpg" alt="美女" />
                </div>
                <div class="cont">
                    <h3>高圆圆</h3>
                    <p>这是一个我很喜欢的美女</p>
                </div>
            </a>
        </div>
    </div>
    </div>
    <code class="code"><xmp><h2 class="yo-header">Default Img List</h2>
<div class="yo-list">
    <a href="#" class="item item-active">
        <div class="mark">
            <img src="../../../img/human.png" alt="美女" />
        </div>
        <div class="cont">
            <h3>高圆圆</h3>
            <p>这是一个我很喜欢的美女</p>
        </div>
    </a>
    <a href="#" class="item item-active">
        <div class="mark">
            <img src="../../../img/human.png" alt="美女" />
        </div>
        <div class="cont">
            <h3>高圆圆</h3>
            <p>这是一个我很喜欢的美女</p>
        </div>
    </a>
    ...
</div></xmp></code>
</div>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <h2 class="yo-header">Default Tbale List</h2>
        <ul class="yo-list">
            <li class="label tr">
                <div class="col c1">name</div>
                <div class="col c2 flex">name</div>
                <div class="col c3">name</div>
                <div class="col c4">name</div>
            </li>
            <li class="item tr">
                <div class="col c1">name</div>
                <div class="col c2 flex">name</div>
                <div class="col c3">name</div>
                <div class="col c4">name</div>
            </li>
            <li class="item tr">
                <div class="col c1">name</div>
                <div class="col c2 flex">name</div>
                <div class="col c3">name</div>
                <div class="col c4">name</div>
            </li>
            <li class="item tr">
                <div class="col c1">name</div>
                <div class="col c2 flex">name</div>
                <div class="col c3">name</div>
                <div class="col c4">name</div>
            </li>
        </ul>
    </div>
    </div>
    <code class="code"><xmp><h2 class="yo-header">Default Tbale List</h2>
<ul class="yo-list">
    <li class="label tr">
        <div class="col c1">name</div>
        <div class="col c2 flex">name</div>
        <div class="col c3">name</div>
        <div class="col c4">name</div>
    </li>
    <li class="item tr">
        <div class="col c1">name</div>
        <div class="col c2 flex">name</div>
        <div class="col c3">name</div>
        <div class="col c4">name</div>
    </li>
    <li class="item tr">
        <div class="col c1">name</div>
        <div class="col c2 flex">name</div>
        <div class="col c3">name</div>
        <div class="col c4">name</div>
    </li>
    <li class="item tr">
        <div class="col c1">name</div>
        <div class="col c2 flex">name</div>
        <div class="col c3">name</div>
        <div class="col c4">name</div>
    </li>
</ul></xmp></code>
</div>


<pre class="m-code"><span class="method">@include yo-list</span><span class="bracket">(</span>
    $name<span class="colon">:</span>default, <mark>//{default|String} yo-list名称</mark>
    $margin<span class="colon">:</span>default, <mark>//{default|Length} yo-list外边距</mark>
    $radius<span class="colon">:</span>default, <mark>//{default|Length} yo-list圆角</mark>
    $border-width<span class="colon">:</span>default, <mark>//{default|Length} 外边框厚度</mark>
    $bordercolor<span class="colon">:</span>default, <mark>//{default|Color} yo-list边框色</mark>
    $item-padding<span class="colon">:</span>default, <mark>//{default|Length} yo-list项的内补白</mark>
    $label-padding<span class="colon">:</span>default, <mark>//{default|Length} yo-list分组标题内补白</mark>
    $label-bgcolor<span class="colon">:</span>default, <mark>//{default|Length} yo-list分组标题背景色</mark>
    $active-bgcolor<span class="colon">:</span>default, <mark>//{default|Color} yo-list项的激活背景色</mark>
    $on-bgcolor<span class="colon">:</span>default, <mark>//{default|Color} yo-list项的选中背景色</mark>
    $on-color<span class="colon">:</span>default, <mark>//{default|Color} yo-list项的选中文本色</mark>
    $item-bordercolor<span class="colon">:</span>default, <mark>//{default|Color} yo-list列表项边框色</mark>
    $label-bordercolor<span class="colon">:</span>default, <mark>//{default|Color} yo-list列表项组名边框色</mark>
    $item-font-size<span class="colon">:</span>default, <mark>//{default|Color} yo-list列表项字号</mark>
    $label-font-size<span class="colon">:</span>default <mark>//{default|Color} yo-list列表组头字号</mark>
<span class="bracket">)</span>
</pre>

</body>
</html>