<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<link rel="apple-touch-icon-precomposed" href="/qunar-touch.png" />
<title>nav - 导航</title>
<link rel="stylesheet" href="../../usage/demo/export/yo-header.css" />
<link rel="stylesheet" href="../../usage/demo/export/yo-nav.css" />
</head>
<body>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <div class="yo-header">
            <div class="title">Header</div>
            <span class="regret"><i class="yo-ico">&#xf03a;</i></span>
        </div>
        <div class="yo-nav aaa">
            <ul>
                <li class="item">
                    <div class="cont">
                        <i class="yo-ico decorate">&#xf015;</i>
                        Home
                    </div>
                    <i class="yo-ico exec">&#xf105;</i>
                </li>
                <li class="item">
                    <div class="cont">
                        <i class="yo-ico decorate">&#xf085;</i>
                        TOOLS
                    </div>
                    <i class="yo-ico exec">&#xf105;</i>
                </li>
                <li class="item">
                    <div class="cont">
                        <i class="yo-ico decorate">&#xf09b;</i>
                        GITHUB
                    </div>
                    <i class="yo-ico exec">&#xf105;</i>
                </li>
                <li class="item">
                    <div class="cont">
                        <i class="yo-ico decorate">&#xf004;</i>
                        LOVE
                    </div>
                    <i class="yo-ico exec">&#xf105;</i>
                </li>
            </ul>
        </div>
    </div>
    </div>
    <code class="code"><xmp></xmp></code>
</div>




</body>
</html>