<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<link rel="apple-touch-icon-precomposed" href="/qunar-touch.png" />
<title>table - 表格</title>
<link rel="stylesheet" href="../../usage/demo/export/yo-table.css" />
</head>
<body>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <h2 class="yo-header">Table</h2>
        <table class="yo-table">
            <colgroup>
                <col class="c1" />
                <col class="c2" />
                <col class="c3" />
            </colgroup>
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>类型</th>
                    <th>手机号码</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>18623133202</td>
                </tr>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>18623133202</td>
                </tr>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>18623133202</td>
                </tr>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>18623133202</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <code class="code"><xmp><table class="yo-table">
    <colgroup>
        <col class="c1" />
        <col class="c2" />
        <col class="c3" />
    </colgroup>
    <thead>
        <tr>
            <th>姓名</th>
            <th>类型</th>
            <th>手机号码</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>疾风</td>
            <td>决策者</td>
            <td>18623133202</td>
        </tr>
        <tr>
            <td>疾风</td>
            <td>决策者</td>
            <td>18623133202</td>
        </tr>
    </tbody>
</table></xmp></code>
</div>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <h2 class="yo-header">Border Table</h2>
        <table class="yo-table yo-table-test">
            <colgroup>
                <col class="c1" />
                <col class="c2" />
                <col class="c3" />
            </colgroup>
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>类型</th>
                    <th>手机号码</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>18623133202</td>
                </tr>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>18623133202</td>
                </tr>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>18623133202</td>
                </tr>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>18623133202</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <code class="code">
    <h2>假设你想要有竖线的，那么你可以这样扩展：</h2>
    <p>命名及颜色按照各自团队内部的FE/UI规范即可</p>
    <h3>全局扩展方式：</h3>
    <xmp>@include yo-table(test,default,true);</xmp>
    <h3>使用方法：</h3>
    <xmp><table class="yo-table yo-table-test">
    ...
</table></xmp>
    <h3>局部扩展方式：</h3>
    <xmp>.xxx{
    @include yo-table(test,default,true);
}</xmp>
    <h3>使用方法：</h3>
    <xmp><div class="xxx">
    <table class="yo-table yo-table-test">
        ...
    </table>
</div></xmp>
    </code>
</div>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <h2 class="yo-header">间隔色Table</h2>
        <table class="yo-table yo-table-test2">
            <colgroup>
                <col class="c1" />
                <col class="c2" />
                <col class="c3" />
            </colgroup>
            <thead>
                <tr>
                    <th>姓名</th>
                    <th>类型</th>
                    <th>职务</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>决策者</td>
                </tr>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>决策者</td>
                </tr>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>决策者</td>
                </tr>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>决策者</td>
                </tr>
                <tr>
                    <td>疾风</td>
                    <td>决策者</td>
                    <td>决策者</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>
    <code class="code">
    <h2>假设你想要有间隔色，那么你可以这样扩展：</h2>
    <p>命名及颜色按照各自团队内部的FE/UI规范即可</p>
    <h3>全局扩展方式：</h3>
    <xmp>@include yo-table(test2,default,default,default,default,default,default,default,#f9f9f9);</xmp>
    <h3>使用方法：</h3>
    <xmp><table class="yo-table yo-table-test2">
    ...
</table></xmp>
    <h3>局部扩展方式：</h3>
    <xmp>.xxx{
    @include yo-table(test2,default,default,default,default,default,default,default,#f9f9f9);
}</xmp>
    <h3>使用方法：</h3>
    <xmp><div class="xxx">
    <table class="yo-table yo-table-test2">
        ...
    </table>
</div></xmp>
    </code>
</div>


<pre class="m-code"><span class="method">@include yo-table</span><span class="bracket">(</span>
    $name<span class="colon">:</span>default, <mark>//{default|String} table名称</mark>
    $width<span class="colon">:</span>default, <mark>//{default|Length} table宽度</mark>
    $has-vertical-border<span class="colon">:</span>default, <mark>//{default|Boole} table是否需要纵向边框</mark>
    $thead-padding<span class="colon">:</span>default, <mark>//{default|Length} table头部内补白</mark>
    $tbody-padding<span class="colon">:</span>default, <mark>//{default|Length} table主体内补白</mark>
    $bordercolor<span class="colon">:</span>default, <mark>//{default|Color} table边框色</mark>
    $thead-bgcolor<span class="colon">:</span>default, <mark>//{default|Color} table头部背景色</mark>
    $odd-bgcolor<span class="colon">:</span>default, <mark>//{default|Color} table奇数行背景色</mark>
    $even-bgcolor<span class="colon">:</span>default, <mark>//{default|Color} table偶数行背景色</mark>
    $active-bgcolor<span class="colon">:</span>default, <mark>//{default|Color} table激活背景色</mark>
    $on-bgcolor<span class="colon">:</span>default <mark>//{default|Color} table选中背景色</mark>
<span class="bracket">)</span>
</pre>

</body>
</html>