<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<link rel="apple-touch-icon-precomposed" href="/qunar-touch.png" />
<title>button toolbar - 按钮组</title>
<link rel="stylesheet" href="../../usage/demo/export/yo-toolbar.css" />
</head>
<body>

<div class="m-demo">
    <div class="device">
    <div class="stage">
        <div class="yo-toolbar">
            <a href="?" class="yo-btn yo-btn-normal yo-btn-m">取消</a>
            <a href="?" class="yo-btn yo-btn-normal yo-btn-m">取消</a>
            <a href="?" class="yo-btn yo-btn-normal yo-btn-m">取消</a>
        </div>
        <div class="yo-toolbar">
            <a href="?" class="yo-btn yo-btn-primary yo-btn-m">取消</a>
            <a href="?" class="yo-btn yo-btn-primary yo-btn-m">取消</a>
            <a href="?" class="yo-btn yo-btn-primary yo-btn-m">取消</a>
        </div>
        <div class="yo-toolbar">
            <a href="?" class="yo-btn yo-btn-info yo-btn-m">取消</a>
            <a href="?" class="yo-btn yo-btn-info yo-btn-m">取消</a>
            <a href="?" class="yo-btn yo-btn-info yo-btn-m">取消</a>
        </div>
        <div class="yo-toolbar">
            <a href="?" class="yo-btn yo-btn-normal yo-btn-m"><i class="yo-ico">&#xf042;</i></a>
            <a href="?" class="yo-btn yo-btn-normal yo-btn-m"><i class="yo-ico">&#xf170;</i></a>
            <a href="?" class="yo-btn yo-btn-normal yo-btn-m"><i class="yo-ico">&#xf037;</i></a>
        </div>
        <div class="yo-toolbar">
            <a href="?" class="yo-btn yo-btn-primary yo-btn-m"><i class="yo-ico">&#xf039;</i></a>
            <a href="?" class="yo-btn yo-btn-primary yo-btn-m"><i class="yo-ico">&#xf036;</i></a>
            <a href="?" class="yo-btn yo-btn-primary yo-btn-m"><i class="yo-ico">&#xf038;</i></a>
        </div>
        <div class="yo-toolbar">
            <a href="?" class="yo-btn yo-btn-info yo-btn-m"><i class="yo-ico">&#xf0b2;</i></a>
            <a href="?" class="yo-btn yo-btn-info yo-btn-m"><i class="yo-ico">&#xf0ab;</i></a>
            <a href="?" class="yo-btn yo-btn-info yo-btn-m"><i class="yo-ico">&#xf0a8;</i></a>
        </div>
    </div>
    </div>
    <code class="code"><xmp><div class="yo-toolbar">
    <a href="?" class="yo-btn yo-btn-normal yo-btn-m">取消</a>
    <a href="?" class="yo-btn yo-btn-normal yo-btn-m">取消</a>
    <a href="?" class="yo-btn yo-btn-normal yo-btn-m">取消</a>
</div>
<div class="yo-toolbar">
    <a href="?" class="yo-btn yo-btn-primary yo-btn-m">取消</a>
    <a href="?" class="yo-btn yo-btn-primary yo-btn-m">取消</a>
    <a href="?" class="yo-btn yo-btn-primary yo-btn-m">取消</a>
</div>
<div class="yo-toolbar">
    <a href="?" class="yo-btn yo-btn-info yo-btn-m">取消</a>
    <a href="?" class="yo-btn yo-btn-info yo-btn-m">取消</a>
    <a href="?" class="yo-btn yo-btn-info yo-btn-m">取消</a>
</div>
<div class="yo-toolbar">
    <a href="?" class="yo-btn yo-btn-normal yo-btn-m"><i class="yo-ico">&#xf042;</i></a>
    <a href="?" class="yo-btn yo-btn-normal yo-btn-m"><i class="yo-ico">&#xf170;</i></a>
    <a href="?" class="yo-btn yo-btn-normal yo-btn-m"><i class="yo-ico">&#xf037;</i></a>
</div>
<div class="yo-toolbar">
    <a href="?" class="yo-btn yo-btn-primary yo-btn-m"><i class="yo-ico">&#xf039;</i></a>
    <a href="?" class="yo-btn yo-btn-primary yo-btn-m"><i class="yo-ico">&#xf036;</i></a>
    <a href="?" class="yo-btn yo-btn-primary yo-btn-m"><i class="yo-ico">&#xf038;</i></a>
</div>
<div class="yo-toolbar">
    <a href="?" class="yo-btn yo-btn-info yo-btn-m"><i class="yo-ico">&#xf0b2;</i></a>
    <a href="?" class="yo-btn yo-btn-info yo-btn-m"><i class="yo-ico">&#xf0ab;</i></a>
    <a href="?" class="yo-btn yo-btn-info yo-btn-m"><i class="yo-ico">&#xf0a8;</i></a>
</div></xmp></code>
</div>


<pre class="m-code"><span class="method">@include yo-toolbar</span><span class="bracket">(</span>
    $name<span class="colon">:</span>default, <mark>//{default | String} yo-toolbar名称</mark>
    $radius<span class="colon">:</span>default <mark>//{default | auto | Length} yo-toolbar圆角，当值为auto时，圆角大小取决于按钮的圆角大小</mark>
<span class="bracket">)</span>
</pre>

</body>
</html>