<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="initial-scale=1,maximum-scale=1,minimum-scale=1,user-scalable=no" />
<title>yo-timeline - 时间轴</title>
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no,email=no" />
<link rel="shortcut icon" href="../../shortcut.png" />
<link rel="stylesheet" href="../../usage/export/yo-timeline.css" />
</head>
<body>

<div class="yo-flex">
    <header class="yo-header">
        <h2 class="title">yo-timeline</h2>
        <a href="../index.html" class="regret yo-ico">&#xf07d;</a>
        <a href="../../doc/element.html#yo-timeline" class="affirm">文档</a>
    </header>
    <div class="flex">
        <ul class="yo-timeline">
            <li class="item">
                <time class="time">最新</time>
                <div class="detail">打发士大夫水电费水电费水电费山东师范</div>
            </li>
            <li class="item">
                <time class="time">03-06</time>
                <div class="detail">打发士大夫水电费水电费水电费山东师范</div>
            </li>
            <li class="item">
                <time class="time">02-27</time>
                <div class="detail">打发士大夫水电费水电费水电费山东师范</div>
            </li>
        </ul>
        <div class="m-note">
            <h2 class="title">扩展说明：</h2>
            <p>我们可以使用元件同名方法<code>yo-timeline()</code>来自定义<strong>yo-timeline</strong>，也可以对它进行扩展。</p>
            <p>当传入了<code>$name</code>参数时，会自动生成一个新类，而不影响默认值；当不传<code>$name</code>参数时，则会覆盖默认值。</p>
            <p>更多参数定义，请查看文档。</p>
        </div>
    </div>
</div>

</body>
</html>