@charset "utf-8";
/**
 * module: m-desc
 * Author: joy.du(飘零雾雨)
 * Time: 2013.10.17
 */
.m-desc{
	.title{
		font-size: .35rem;
	}
	.summary{
		padding: .16rem 0;
		font-size: .16rem;
	}
}