@charset "utf-8";

.m-layer {
    position: relative;
    // 类别标题
    > .title {
        padding: .18rem .1rem .03rem;
        @include border(
            $border-width: 0 0 1px,
            $border-color: map-get($base, border-color)
        );
    }
}