@charset "utf-8";
@import "../../lib/element/yo-badge";

.m-list {
    @include yo-list(
        $label-padding: .18rem .1rem .03rem,
        $label-border-color: map-get($base, border-color)
    );
    > .note {
        padding: .1rem;
        color: gray;
        font-size: .12rem;
    }
    @include yo-badge(
        $border-color: gray,
        $bgcolor: gray
    );
    // 图片大小
    .mark img {
        @include square(.4rem);
    }
}