/*
Error: Invalid CSS after "...$item-ico-color": expected ")", was ": #7ff"
        on line 19 of /Users/duyao/yunpan/github/Yo/usage/demo/fragment/yo-header.scss
        from line 4 of /Users/duyao/yunpan/github/Yo/usage/demo/page/index.scss

14: @include yo-header(
15:     $name: positive,
16:     $bordercolor: #145fd7,
17:     $bgcolor: #4a87ee,
18:     $color: #fff
19:     $item-ico-color: #7ff
20: );

Backtrace:
/Users/duyao/yunpan/github/Yo/usage/demo/fragment/yo-header.scss:19
/Users/duyao/yunpan/github/Yo/usage/demo/page/index.scss:4
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:1165:in `expected'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/script/lexer.rb:221:in `expected!'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/script/parser.rb:580:in `assert_tok'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/script/parser.rb:101:in `parse_mixin_include_arglist'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:1027:in `sass_script'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:236:in `include_directive'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:219:in `special_directive'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:194:in `directive'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/engine.rb:299:in `to_tree'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:323:in `block in visit_import'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/stack.rb:88:in `block in with_import'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/stack.rb:88:in `with_import'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:322:in `visit_import'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `block in with_base'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/stack.rb:115:in `with_frame'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/stack.rb:79:in `with_base'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/tree/root_node.rb:20:in `render'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/engine.rb:268:in `render'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:17:in `block in render'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:29:in `with_import_scope'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/compass-import-once-1.0.5/lib/compass/import-once/engine.rb:16:in `render'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `each'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/duyao/.rvm/gems/ruby-2.2.0/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/duyao/.rvm/gems/ruby-2.2.0/bin/compass:23:in `load'
/Users/duyao/.rvm/gems/ruby-2.2.0/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...$item-ico-color\": expected \")\", was \": #7ff\"\A         on line 19 of /Users/duyao/yunpan/github/Yo/usage/demo/fragment/yo-header.scss\A         from line 4 of /Users/duyao/yunpan/github/Yo/usage/demo/page/index.scss\A \A 14: @include yo-header(\A 15:     $name: positive,\A 16:     $bordercolor: #145fd7,\A 17:     $bgcolor: #4a87ee,\A 18:     $color: #fff\A 19:     $item-ico-color: #7ff\A 20: );"; }
