@charset "utf-8";
@import "../layout/layout";
@import "../module/m-code";
@import "../../../lib/fragment/g-table";

/**
 * table演示页面
 * Author: joy.du(飘零雾雨)
 * Time: 2014.4.1
 */

body{overflow:auto;padding:10px;}
.demo-title{
	display: inline-block;
	padding: .02rem .1rem;
	background: #333;
	color: #fff;
	font-size: .2rem;
}
@include g-table(test,80%,true,default,default,default,default,#ddd,default,none,default,none);
@include g-table(test2,default,default,default,default,default,default,default,#aaa,default,#eee,#effbfb);