@charset "UTF-8";
/**
 * Yo框架全局base定义
 * 本文件与variables不同地方在于，这里所定义的map可以使用在variables和任何地方
 * lib中map使用“_”开头，本文件中不使用"_"
 * base ⇌ extra
 */
/**
 * Yo框架全局base定义
 * 本文件与variables不同地方在于，这里所定义的map可以使用在variables和任何地方
 * 本文件中map使用"_"开头，extra中不使用"_"
 * base ⇌ extra
 */
/**
 * 合并base和extra中的同类base map
 * 用以解决业务方升级Yo时需比base和extra的一致性
 * 当extra为空时，base map将以base文件里的定义作为默认值
 * 当extra不为空时，base map使用extra文件里的定义
 */
/**
 * Yo框架全局Variables
 * Yo基础变量map，如果不想定义某属性，将其value设置为null；
 * Yo仅使用2种长度单位：px用于边框，rem用于除边框之外的所有地方
 * variables中map使用“_”开头，本文件中不使用"_"
 * variables ⇌ config
 */
/**
 * Yo框架全局Variables
 * Yo基础变量map，如果不想定义某属性，将其value设置为null
 * Yo仅使用2种长度单位：px用于边框，rem用于除边框之外的所有地方
 * 本文件中map使用"_"开头，config中不使用"_"
 * variables ⇌ config
 */
/**
 * 合并variables和config中的同类map
 * 用以解决业务方升级Yo时需比config和variables的一致性
 * 当config为空时，使用variables中的map作为默认值
 * 当config不为空时，使用config中的定义
 */
/**
 * Yo框架自定义全局函数
 * 扩充Sass默认函数库，用以增强语法
 */
/**
 * @module List扩展函数
 * @description 返回SassList中的第一项
 * @function first
 * @version 2.1.0
 * @param {String} $list 指定一个Sass List <2.1.0>
 */
/**
 * @module List扩展函数
 * @description 返回SassList中的最后一项
 * @function last
 * @version 2.1.0
 * @param {String} $list 指定一个Sass List <2.1.0>
 */
/**
 * @module List扩展函数
 * @description 返回SassList中的倒数第几项
 * @function nth-last
 * @version 2.1.0
 * @param {String} $list 指定一个Sass List <2.1.0>
 * @param {Integer} $index 指定需要返回的值在list中的倒数位置 <2.1.0>
 */
/**
 * @module List扩展函数
 * @description 移除SassList中的某个项目并返回新的List
 * @function remove
 * @version 2.1.0
 * @param {String} $list 指定一个Sass List <2.1.0>
 * @param {String} $value 指定需要被删除的值 <2.1.0>
 */
/**
 * @module List扩展函数
 * @description 截取SassList中的某个部分并返回新的List
 * @function slice
 * @version 2.1.0
 * @param {String} $list 指定一个Sass List <2.1.0>
 * @param {Integer} $start 指定需要截取的开始下标 <2.1.0>
 * @param {Integer} $end 指定需要截取的结束下标（不包括end），当该值缺省时默认为末尾下标 <2.1.0>
 */
/**
 * @module List扩展函数
 * @description 从SassList中添加/删除项目，然后返回新的List。
 * @function splice
 * @version 2.1.0
 * @param {String} $list 指定一个Sass List <2.1.0>
 * @param {Integer} $index 指定需要移除的开始下标 <2.1.0>
 * @param {Integer} $count 指定需要移除的数量，不可以为负值，0表示不移除 <2.1.0>
 * @param {String} $values 指定需要添加的新值（可以是多个），如果该值缺省，则表示只移除不添加新值 <2.1.0>
 */
/**
 * Yo框架全局基础方法
 * 包括响应式方案，CSS3兼容性方案，厂商前缀方案，iconfont方案，flex布局等全局方法
 */
/**
 * @module 功能
 * @description 给需要的属性加厂家前缀
 * @method _prefix
 * @version 1.0.0
 * @param {String} $property 指定属性 <1.0.0>
 * @param {String} $value 指定属性值 <1.0.0>
 * @skip
 */
/**
 * @module 功能
 * @description 定义字体图标
 * @method _yofont
 * @version 1.0.0
 * @skip
 */
/**
 * @module 功能
 * @description 四则运算(iOS6.0+,Android4.4+)
 * @method calc
 * @version 1.7.0
 * @param {String} $property 指定需要进行计算的CSS属性 <1.7.0>
 * @param {String} $value 与原生CSS语法一致，区别在于需要使用引号包裹表达式 <1.7.0>
 * @example <div class="calc">四则运算</div>
 * .calc { @include calc(width, "100% - 100px"); }
 */
/**
 * @module 功能
 * @description 定义响应式方案
 * @method responsive
 * @version 1.0.0
 * @param {String} $media 指定媒体查询条件，取值为`config`文件map `media-types`中的值 <1.0.0>
 */
/**
 * @module 功能
 * @description 清除浮动方案
 * @method clearfix
 * @version 1.0.0
 * @param {String} $type 指定清除浮动的方式，包括：pseudo-element | bfc，默认值：pseudo-element <1.8.5>
 */
/**
 * @module 功能
 * @description 清除行内级元素间间隙方案
 * @method killspace
 * @version 1.0.0
 * @param {Length} $font-size 指定子元素字号，默认值：.14rem <2.0.0>
 * @example
 * <div class="demo">
 *      <span class="item">1</span>
 *      <span class="item">2</span>
 *      <span class="item">3</span>
 * </div>
 * .demo {@include killspace;}
 */
/**
 * @module 功能
 * @description 元素在包含块中的对齐方式，默认为水平垂直对齐
 * @method align
 * @version 2.0.0
 * @param {String} $flexbox 指定包含块布局方式，可选值：flex | inline-flex，默认值：flex <2.0.0>
 * @param {String} $type 指定居中元素类型，可选值：image | text | other，默认值：text <2.0.0>
 * @param {Keywords} $justify-content 指定元素水平对齐方式，取值与`justify-content`属性一致，默认值：center <2.0.0>
 * @param {Keywords} $align-items 指定元素垂直对齐方式，取值与`align-items`属性一致，默认值：center <2.0.0>
 * @example
 * <div class="demo">
 *      <img class="item" alt="未知尺寸图片居中" />
 * </div>
 * .demo {@include align;}
 */
/**
 * @module 功能
 * @description 定义文档根节点是否允许滚动
 * @method root-scroll
 * @version 1.4.0
 * @param {Boolean} $is-scroll 指定是否有滚动，默认值：false <1.8.6>
 */
/**
 * @module 功能
 * @description 定义是否有滚动条
 * @method overflow
 * @version 1.0.0
 * @param {String} $overflow 取值与最新原生语法一致，默认值：auto <1.0.0>
 */
/**
 * @module 功能
 * @description 生成全屏方法
 * @method fullscreen
 * @version 1.7.0
 * @param {Integer} $z-index 指定层叠级别 <1.7.0>
 * @param {Keywords} $position 指定定位方式，取除`static | relative`之外的值，默认值：absolute <1.8.5>
 */
/**
 * @module 用户界面
 * @description 定义使用何种滤镜
 * @method filter
 * @version 1.7.0
 * @param {String} $filter 取值与`filter`属性一致 <1.7.0>
 */
/**
 * @module 用户界面
 * @description 定义UA默认外观
 * @method appearance
 * @version 1.0.0
 * @param {String} $appearance 取值与`appearance`属性一致，默认值：none <1.0.0>
 */
/**
 * @module 用户界面
 * @description 定义如何选中内容
 * @method user-select
 * @version 1.0.0
 * @param {String} $user-select 取值与`user-select`属性一致，默认值：none <1.0.0>
 */
/**
 * @module 用户界面
 * @description 定义盒模型
 * @method box-sizing
 * @version 1.0.0
 * @param {String} $box-sizing 指定盒模型类型，取值与`box-sizing`属性一致，默认值：border-box <1.0.0>
 */
/**
 * @module 背景与边框
 * @description 定义渐变色值
 * @method gradient
 * @version 1.0.0
 * @param {String} $type 指定渐变的4种类型：linear, repeating-linear, radial, repeating-radial <1.0.0>
 * @param {String} $dir 指定渐变方向，可选值：[left | right] || [top | bottom] | angle <2.0.0>
 * @param {String} $gradient 指定渐变取值，与w3c最新原生语法一致 <1.0.0>
 */
/**
 * @module 背景与边框
 * @description 定义背景图像缩放（AndroidBrowser2.3.*还需要厂商前缀）
 * @method background-size
 * @version 1.4.0
 * @param {Keywords | Length} $background-size 指定背景图缩放值，取值与`background-size`属性一致 <1.4.0>
 */
/**
 * @module 背景与边框
 * @description 定义背景裁减（AndroidBrowser2.3.*还需要厂商前缀）
 * @method background-clip
 * @version 1.6.0
 * @param {Keywords} $background-clip 指定背景图缩放值，取值与`background-clip`属性一致 <1.6.0>
 */
/**
 * @module 背景与边框
 * @description 定义背景显示区域（AndroidBrowser2.3.*还需要厂商前缀）
 * @method background-origin
 * @version 1.6.0
 * @param {Keywords} $background-origin 指定背景图`background-position`属性计算相对的参考点，取值与`background-origin`属性一致 <1.6.0>
 */
/**
 * @module 背景与边框
 * @description 定义圆角，用于修复某些安卓机型上“圆角+边框+背景”，背景溢出的情况
 * @method border-radius
 * @version 1.6.0
 * @param {Length} $border-radius 指定元素的圆角半径，取值与`border-radius`属性一致 <1.6.0>
 */
/**
 * @module 背景与边框
 * @description 为元素添加边框（包括1px边框）
 * @method border
 * @version 2.0.0
 * @param {String} $border-width 指定边框厚度（单位为px），默认值：1px，取值与`border-width`属性一致，不同方向代表边框位置 <2.0.0>
 * @param {String} $border-color 指定边框颜色 <2.0.0>
 * @param {String} $border-style 指定边框样式 <2.0.0>
 * @param {String} $radius 指定边框圆角半径，默认值：null <2.0.0>
 */
/**
 * @module Transform
 * @description 定义简单变换
 * @method transform
 * @version 1.0.0
 * @param {String} $transform 取值范围与`transform`属性一致 <1.0.0>
 */
/**
 * @module Transform
 * @description 定义变换原点
 * @method transform-origin
 * @version 1.0.0
 * @param {Length | Percentage | Keywords} $transform-origin 取值范围与`transform-origin`属性一致 <1.0.0>
 */
/**
 * @module Transform
 * @description 指定某元素的子元素是（看起来）位于三维空间内，还是在该元素所在的平面内被扁平化
 * @method transform-style
 * @version 2.0.0
 * @param {String} $transform-style 取值范围与`transform-style`属性一致 <2.0.0>
 */
/**
 * @module Transform
 * @description 指定观察者与「z=0」平面的距离，使具有三维位置变换的元素产生透视效果。「z>0」的三维元素比正常大，而「z<0」时则比正常小，大小程度由该属性的值决定。
 * @method perspective
 * @version 2.0.0
 * @param {none | Length} $perspective 取值范围与`perspective`属性一致 <2.0.0>
 */
/**
 * @module Transform
 * @description 指定透视点的位置
 * @method perspective-origin
 * @version 2.0.0
 * @param {Length | Percentage | Keywords} $perspective-origin 取值范围与`perspective-origin`属性一致 <2.0.0>
 */
/**
 * @module Transform
 * @description 指定元素背面面向用户时是否可见
 * @method backface-visibility
 * @version 2.0.0
 * @param {Keywords} $backface-visibility 取值范围与`backface-visibility`属性一致 <2.0.0>
 */
/**
 * @module Animation
 * @description 定义动画
 * @method animation
 * @version 1.0.0
 * @param {String} $animation 取值与原生语法一致 <1.0.0>
 */
/**
 * @module Animation
 * @description 指定需要引用的动画名称
 * @method animation-name
 * @version 3.0.0
 * @param {String} $animation-name 取值与原生语法一致 <3.0.0>
 */
/**
 * @module Animation
 * @description 指定动画运行一次所持续的时长
 * @method animation-duration
 * @version 3.0.0
 * @param {String} $animation-duration 取值与原生语法一致 <3.0.0>
 */
/**
 * @module Animation
 * @description 指定动画运行方式
 * @method animation-timing-function
 * @version 3.0.0
 * @param {String} $animation-timing-function 取值与原生语法一致 <3.0.0>
 */
/**
 * @module Animation
 * @description 指定动画延迟多久之后再开始
 * @method animation-delay
 * @version 3.0.0
 * @param {String} $animation-delay 取值与原生语法一致 <3.0.0>
 */
/**
 * @module Animation
 * @description 指定动画循环几次
 * @method animation-iteration-count
 * @version 3.0.0
 * @param {String} $animation-iteration-count 取值与原生语法一致 <3.0.0>
 */
/**
 * @module Animation
 * @description 指定动画的运动方向
 * @method animation-direction
 * @version 3.0.0
 * @param {String} $animation-direction 取值与原生语法一致 <3.0.0>
 */
/**
 * @module Animation
 * @description 指定动画的运动状态
 * @method animation-play-state
 * @version 3.0.0
 * @param {String} $animation-play-state 取值与原生语法一致 <3.0.0>
 */
/**
 * @module Animation
 * @description 指定动画时间之外的状态
 * @method animation-fill-mode
 * @version 3.0.0
 * @param {String} $animation-fill-mode 取值与原生语法一致 <3.0.0>
 */
/**
 * @module Transition
 * @description 定义补间
 * @method transition
 * @version 1.0.0
 * @param {String} $transition 取值与原生语法一致 <1.0.0>
 */
/**
 * @module Flexbox
 * @description 定义显示类型为伸缩盒
 * @method flexbox
 * @version 1.0.0
 * @param {String} $flexbox 默认值：flex，可选值：flex | inline-flex <1.0.0>
 */
/**
 * @module Flexbox
 * @description 定义伸缩盒子元素如何分配空间
 * @method flex
 * @version 1.0.0
 * @param {Number} $flex 取值与`flex`属性一致，默认值：1 <1.0.0>
 * @param {String} $direction 默认值: row，可选值：row | column <1.5.0>
 */
/**
 * @module Flexbox
 * @description 定义伸缩盒子元素的排版顺序
 * @method order
 * @version 1.0.0
 * @param {Integer} $order 取值与`order`属性一致，默认值：1 <1.0.0>
 */
/**
 * @module Flexbox
 * @description 定义弹性盒子元素流动方向及遇见边界时是否换行(iOS7.0+,Android4.4+)
 * @method flex-flow
 * @version 2.0.0
 * @param {String} $flex-flow 取值与`flex-flow`属性一致，默认值：row nowrap <2.0.0>
 */
/**
 * @module Flexbox
 * @description 定义伸缩盒子元素的流动方向
 * @method flex-direction
 * @version 1.0.0
 * @param {String} $flex-direction 取值与`flex-direction`属性一致，默认值：row <1.0.0>
 */
/**
 * @module Flexbox
 * @description 定义弹性盒子元素溢出后排版(iOS7.0+,Android4.4+)
 * @method flex-wrap
 * @version 1.0.0
 * @param {String} $flex-wrap 取值与`flex-wrap`属性一致，默认值：nowrap <1.0.0>
 */
/**
 * @module Flexbox
 * @description 定义弹性容器主轴对齐方式(其中`space-around`值需要iOS7.0+,Android4.4+)
 * @method justify-content
 * @version 1.0.0
 * @param {String} $justify-content 取值与`justify-content`属性一致，默认值：center <1.0.0>
 */
/**
 * @module Flexbox
 * @description 定义多行弹性容器侧轴对齐方式(iOS7.0+,Android4.4+)
 * @method align-content
 * @version 1.8.5
 * @param {String} $align-content 取值与`align-content`属性一致，默认值：center <1.8.5>
 */
/**
 * @module Flexbox
 * @description 定义单行弹性容器侧轴对齐方式
 * @method align-items
 * @version 1.0.0
 * @param {String} $align-items 取值与`align-items`属性一致，默认值：center <1.0.0>
 */
/**
 * @module Flexbox
 * @description 定义弹性容器中子元素自身的在侧轴对齐方式(iOS7.0+,Android4.4+)
 * @method align-self
 * @version 1.0.0
 * @param {String} $align-self 取值与`align-self`属性一致，默认值：center <1.0.0>
 */
/**
 * @module 形状
 * @description 生成矩形方法
 * @method rect
 * @version 1.0.0
 * @param {Length} $width 定义矩形的长度 <1.0.0>
 * @param {Length} $height 定义矩形的高度 <1.0.0>
 */
/**
 * @module 形状
 * @description 生成正方形方法
 * @method square
 * @version 1.0.0
 * @param {Length} $size 定义正方形的边长 <1.0.0>
 */
/**
 * @module 形状
 * @description 生成圆形方法
 * @method circle
 * @version 1.0.0
 * @param {Length} $size 定义圆的半径长度 <1.0.0>
 * @param {Length} $radius 定义圆的圆角半径长度 <1.0.0>
 */
/**
 * @module 文本
 * @description 链接处理方法
 * @method link
 * @version 1.0.0
 * @param {Color} $color 定义链接颜色 <1.0.0>
 */
/**
 * @module 文本
 * @description 文本碰到边界是否换行
 * @method wrap
 * @version 1.0.0
 * @param {Boolean} $is-wrap 定义文本是否换行，默认值：true <2.0.0>
 */
/**
 * @module 文本
 * @description 单行文本溢出时显示省略号
 * @method ellipsis
 * @version 1.0.0
 * @param {Length} $width 定义容器的宽度，默认值：null <2.0.0>
 * @param {Integer} $line-clamp 定义需要显示的行数，默认值：1（即使用单行溢出的处理方案），需要注意的是本参数只支持webkit内核 <2.1.2>
 */
/**
 * @module 文本
 * @description 文字隐藏方案
 * @method texthide
 * @version 1.0.0
 * @param {Length} $width 定义容器的宽度，默认值：null <2.0.0>
 */
/**
 * Yo框架全局Reset
 * Yo重置Mobile及高级浏览器上常见的差异
 */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  overflow: hidden;
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
}

html {
  background-color: #eee;
  color: #212121;
  font-size: 100px;
  -webkit-user-select: none;
  user-select: none;
}

body {
  margin: 0;
  font-size: 0.14em;
  line-height: 1.5;
  font-family: Helvetica Neue, Helvetica, STHeiTi, sans-serif;
}

ul,
ol,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
figure,
form,
fieldset,
legend,
input,
textarea,
button,
p,
blockquote,
th,
td,
pre,
xmp {
  margin: 0;
  padding: 0;
}

input,
textarea,
button,
select,
pre,
xmp,
tt,
code,
kbd,
samp {
  line-height: inherit;
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
small,
big,
input,
textarea,
button,
select {
  font-size: inherit;
}

address,
cite,
dfn,
em,
i,
optgroup,
var {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  text-align: left;
}

ul,
ol,
menu {
  list-style: none;
}

fieldset,
img {
  border: 0;
  vertical-align: middle;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "\0020";
}

textarea,
pre,
xmp {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

textarea {
  resize: vertical;
}

input,
textarea,
button,
select
a {
  outline: 0 none;
}

input,
textarea,
button,
select {
  color: inherit;
}

input:disabled,
textarea:disabled,
button:disabled,
select:disabled {
  opacity: 1;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

input[type="button"],
input[type="submit"],
input[type="reset"],
input[type="file"]::-webkit-file-upload-button,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  appearance: none;
}

mark {
  background-color: transparent;
}

a,
ins,
s,
u,
del {
  text-decoration: none;
}

a,
img {
  -webkit-touch-callout: none;
}

a {
  color: #00afc7;
}

.g-clear::after,
.g-mod::after {
  display: block;
  overflow: hidden;
  clear: both;
  height: 0;
  content: "\0020";
}

@font-face {
  font-family: yofont;
  src: url(//ss.qunarzz.com/yo/font/1.0.3/yofont.woff) format("woff"), url(//ss.qunarzz.com/yo/font/1.0.3/yofont.ttf) format("truetype");
}

.yo-ico {
  font-family: yofont !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

/**
 * @module fragment
 * @method yo-modal
 * @version 3.0.0
 * @description 构造yo-modal的自定义使用方法
 * @demo http://doyoe.github.io/Yo/demo/fragment/yo-modal.html
 * @param {String} $name 定义扩展名称 <3.0.0>
 * @param {Color} $bgcolor 背景色 <3.0.0>
 */
.yo-modal {
  overflow: hidden;
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  word-wrap: break-word;
  word-break: break-all;
  background-color: rgba(0, 0, 0, 0.2);
}

.yo-modal-top {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.yo-modal-right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.yo-modal-bottom {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.yo-modal-left {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.yo-modal-stretch-x > .cont {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: .1px;
}

.yo-modal-stretch-y > .cont {
  -webkit-align-self: stretch;
  align-self: stretch;
}

.yo-modal-stretch > .cont {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: .1px;
  -webkit-align-self: stretch;
  align-self: stretch;
}

.yo-modal > .cont {
  position: relative;
  overflow: hidden;
}

/**
 * Yo框架动画解决方案
 * Yo内置了超过60种动画形态，不同的动画可以任意组合
 */
.ani {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ani.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/**
 * @module rotate
 * @description 定义旋转动画
 * @method rotate
 */
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotatez(0);
  }
  to {
    -webkit-transform: rotatez(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotatez(0);
  }
  to {
    transform: rotatez(360deg);
  }
}

.ani.rotate {
  -webkit-animation-name: rotate;
  animation-name: rotate;
}

/**
 * @module fragment
 * @method yo-suggest
 * @version 3.0.0
 * @description 构造yo-suggest的自定义使用方法
 * @demo http://doyoe.github.io/Yo/demo/fragment/yo-suggest.html
 * @param {String} $name 定义扩展名称 <3.0.0>
 * @param {Length} $padding 搜索区内补白 <3.0.0>
 * @param {Color} $border-color 搜索区边框色 <3.0.0>
 * @param {Color} $bgcolor 搜索区背景色 <3.0.0>
 * @param {Length} $font-size 搜索区字号 <3.0.0>
 * @param {Length} $input-height 输入框高度 <3.0.0>
 * @param {Length} $input-radius 输入框圆角半径 <3.0.0>
 * @param {Color} $input-bgcolor 输入框背景色 <3.0.0>
 * @param {Color} $input-color 输入框文本色 <3.0.0>
 * @param {Color} $placeholder-color 输入框placeholder文本色 <3.0.0>
 * @param {Color} $ico-color 输入框右侧图标颜色 <3.0.0>
 * @param {Length} $cancel-width 取消按钮区域宽度 <3.0.0>
 * @param {Color} $cancel-color 取消按钮颜色 <3.0.0>
 * @param {Color} $cont-bgcolor 内容区背景色 <3.0.0>
 * @param {Color} $mask-bgcolor 内容区背景色 <3.0.0>
 * @param {Color} $recommend-bgcolor 内容区背景色 <3.0.0>
 * @param {Color} $result-bgcolor 内容区背景色 <3.0.0>
 */
.yo-suggest {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.yo-suggest > .operate {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding: 0.07rem 0.1rem;
  position: relative;
  background-color: #fff;
  line-height: 0.3rem;
}

.yo-suggest > .operate::after {
  pointer-events: none;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  overflow: hidden;
  content: "\0020";
  border-color: #ccc;
  border-style: solid;
  border-width: 0 0 1px;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

@media (max--moz-device-pixel-ratio: 1.49), (-webkit-max-device-pixel-ratio: 1.49), (max-device-pixel-ratio: 1.49), (max-resolution: 143dpi), (max-resolution: 1.49dppx) {
  .yo-suggest > .operate::after {
    width: 100%;
    height: 100%;
  }
}

@media (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 2.49), (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 2.49), (min-device-pixel-ratio: 1.5) and (max-device-pixel-ratio: 2.49), (min-resolution: 144dpi) and (max-resolution: 239dpi), (min-resolution: 1.5dppx) and (max-resolution: 2.49dppx) {
  .yo-suggest > .operate::after {
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
}

@media (min--moz-device-pixel-ratio: 2.5), (-webkit-min-device-pixel-ratio: 2.5), (min-device-pixel-ratio: 2.5), (min-resolution: 240dpi), (min-resolution: 2.5dppx) {
  .yo-suggest > .operate::after {
    width: 300%;
    height: 300%;
    -webkit-transform: scale(0.33333);
    transform: scale(0.33333);
  }
}

.yo-suggest .action {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: .1px;
  position: relative;
  color: #fff;
}

.yo-suggest .action > .input {
  display: block;
  -webkit-appearance: none;
  appearance: none;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  width: .1px;
  position: relative;
  z-index: 1;
  height: 0.3rem;
  padding: .05rem .28rem .05rem .1rem;
  border: 0 none;
  border-radius: 0.05rem;
  background-color: #ccc;
  color: #212121;
  vertical-align: top;
  line-height: 1.1;
}

.yo-suggest .action > .input::-webkit-input-placeholder {
  color: #fff;
}

.yo-suggest .action > .yo-ico + .input {
  padding-left: .28rem;
}

.yo-suggest .action > .yo-ico {
  position: absolute;
  z-index: 2;
  width: .28rem;
  text-align: center;
}

.yo-suggest .action > .yo-ico-delete,
.yo-suggest .action > .yo-ico-refresh,
.yo-suggest .action > .yo-ico-stop,
.yo-suggest .action > .yo-ico-loading {
  display: none;
  top: 0;
  right: 0;
  color: #999;
}

.yo-suggest .action > .yo-ico-loading {
  -webkit-animation: rotate 1s infinite linear;
  animation: rotate 1s infinite linear;
  -webkit-transform-origin: center;
  transform-origin: center;
}

.yo-suggest .cancel {
  position: absolute;
  right: 0;
  width: 0.6rem;
  color: #00afc7;
  text-align: center;
}

.yo-suggest > .cont {
  position: relative;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  height: .1px;
}

.yo-suggest > .cont > .mask,
.yo-suggest > .cont > .recommend,
.yo-suggest > .cont > .result {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.yo-suggest > .cont > .mask,
.yo-suggest > .cont > .result {
  display: none;
}

.yo-suggest > .cont > .mask {
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
}

.yo-suggest > .cont > .recommend {
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
}

.yo-suggest > .cont > .result {
  z-index: 3;
  background-color: #fff;
}

.yo-suggest-modal .action {
  margin-right: 0.5rem;
}

.yo-suggest .show {
  display: block !important;
}

/**
 * yo-suggest扩展
 */
